@layer theme, base, components, utilities;
@reference "../../styles.css";

@layer components {
  .ex-card {
    @apply card-md;
  }

  .ex-card {
    @apply variant-outline palette-neutral;
  }

  .ex-card {
    @apply flex leading-normal;
    @apply rounded-[var(--ex-radius)] [font-size:var(--ex-font-size)];

    &:where(.variant-solid) {
      @apply component-variant-solid-contrast;
    }
  }

  .ex-card-content {
    @apply flex flex-1 flex-col;
  }

  .ex-card-section {
    @apply flex flex-col;
    @apply gap-x-[var(--ex-gap-x)] gap-y-[var(--ex-gap-y)] px-[var(--ex-px)] py-[var(--ex-py)];
  }

  .ex-card-title {
    --ex-font-weight: var(--ex-card-title-font-weight, var(--font-weight-semibold));

    @apply [font-size:var(--ex-font-size)] [font-weight:var(--ex-font-weight)];
  }

  .ex-card-description {
    --ex-font-weight: var(--ex-card-description-font-weight, var(--font-weight-normal));
    --ex-opacity: var(--ex-card-description-opacity, var(--ex-options-muted-opacity));

    @apply opacity-[var(--ex-opacity)] [font-size:var(--ex-font-size)] [font-weight:var(--ex-font-weight)];
  }
}

@layer utilities {
  .ex-card {
    &:where(:not([class*='variant-'])),
    &:where([class*='variant-outline']) {
      @apply component-variant-panel;
    }
  }
}
