@layer theme, base, components, utilities;
@reference "../../styles.css";

@layer components {
  .ex-callout {
    @apply callout-md;
  }

  .ex-callout {
    @apply variant-surface palette-primary;
  }

  .ex-callout {
    @apply flex items-start;
    @apply gap-x-[var(--ex-gap-x)] rounded-[var(--ex-radius)] px-[var(--ex-px)] py-[var(--ex-py)] [font-size:var(--ex-font-size)];

    &:where(.variant-solid) {
      @apply component-variant-solid-contrast;
    }
  }

  .ex-callout-content {
    @apply flex flex-1 flex-col;
    @apply gap-x-[var(--ex-gap-x)] gap-y-[var(--ex-gap-y)];
  }

  .ex-callout-indicator {
    @apply relative inline-flex h-[1em] w-[1em] flex-shrink-0 items-center justify-center;
    @apply [font-size:var(--ex-font-size)];
  }

  .ex-callout-indicator-icon {
    @apply size-[1em] fill-none stroke-current stroke-[1.5] [stroke-linecap:round] [stroke-linejoin:round];
  }

  .ex-callout-title {
    --ex-font-weight: var(--ex-callout-title-font-weight, var(--font-weight-semibold));

    @apply [font-size:var(--ex-font-size)] [font-weight:var(--ex-font-weight)];
  }

  .ex-callout-description {
    --ex-font-weight: var(--ex-callout-description-font-weight, var(--font-weight-normal));
    --ex-opacity: var(--ex-callout-description-opacity, var(--ex-options-muted-opacity));

    @apply opacity-[var(--ex-opacity)] [font-size:var(--ex-font-size)] [font-weight:var(--ex-font-weight)];
  }
}
