/**  Home Page   */
/** ──────────────────────────── */

:root:has(#homepage) {
  --ex-options-background-default-color: color-mix(
    in oklch,
    var(--color-primary) 2%,
    white
  );

  --ex-options-background-default-color-dark: color-mix(
    in oklch,
    var(--color-primary) 20%,
    black
  );
}

body:has(#homepage) {
  background-image:
    linear-gradient(
      rgb(from var(--x-color-gray-50) r g b / 50%) 1px,
      transparent 1px
    ),
    linear-gradient(
      to right,
      rgb(from var(--x-color-gray-50) r g b / 50%) 1px,
      transparent 1px
    );

  @apply bg-size-[20px_20px];
  @apply bg-(--ex-options-background-default-color)! dark:bg-(--ex-options-background-default-color-dark)!;
}

html.dark {
  body:has(#homepage) {
    background-image:
      linear-gradient(var(--x-color-gray-950) 1px, transparent 1px),
      linear-gradient(to right, var(--x-color-gray-950) 1px, transparent 1px);
  }

  #homepage main .separator-dot {
    background-image: radial-gradient(
      var(--x-color-gray-50) 0.5px,
      transparent 0.5px
    );
  }
}

#homepage {
  --x-default-font-family: var(--font-geist-sans);
  --font-sans: var(--x-default-font-family);

  main .separator-dot {
    background-image: radial-gradient(
      var(--x-color-gray-950) 0.5px,
      transparent 0.5px
    );
    @apply h-32 border-0 bg-size-[10px_10px];
  }

  main .dashed-container {
    @apply relative;
    @apply border-r border-l border-dashed border-neutral-300 dark:border-neutral-700;
  }

  main .num-caption {
    @apply absolute top-2 -left-8.5 -rotate-90 bg-[rgb(var(--nextra-bg))] px-4;
  }
}
