@layer theme, base, components, utilities;
@reference "../../styles.css";

@layer components {
  .ex-table {
    @apply table-md;
  }

  .ex-table {
    @apply palette-neutral variant-outline;
    @apply border-transparent! bg-transparent! text-inherit! outline-transparent!;
  }

  .ex-table {
    @apply w-full border-collapse;
    @apply [font-size:var(--ex-font-size)];

    &:where(.variant-solid) {
      @apply component-variant-solid-contrast;

      .ex-table-row,
      .ex-table-head,
      .ex-table-foot {
        @apply border-[var(--shade-soft)] dark:border-[var(--shade-soft-dark)];
      }
    }

    &:where(.variant-subtle) {
      .ex-table-row,
      .ex-table-head,
      .ex-table-foot {
        @apply border-[var(--shade-raised)] dark:border-[var(--shade-raised-dark)];
      }
    }
  }

  .ex-table-caption {
    --ex-font-weight: var(--ex-table-caption-font-weight, var(--font-weight-normal));
    --ex-opacity: var(--ex-table-caption-opacity, var(--ex-options-muted-opacity));

    @apply opacity-[var(--ex-opacity)] [font-size:var(--ex-font-size)] [font-weight:var(--ex-font-weight)];
  }

  .ex-table-head {
    @apply variant;
    @apply border-be-1 border-0;
  }

  .ex-table-foot {
    @apply variant;
    @apply border-bs-1 border-0;
  }

  .ex-table-row {
    @apply variant;
    @apply border-be-1 border-0;

    &:last-child {
      @apply border-be-0;
    }

    .ex-table-head & {
      @apply border-be-0;
    }

    .ex-table-foot & {
      @apply border-be-0;
    }
  }

  .ex-table-header {
    --ex-font-weight: var(--ex-table-header-font-weight, var(--font-weight-normal));

    @apply text-start align-middle;
    @apply px-[var(--ex-px)] py-[var(--ex-py)] [font-weight:var(--ex-font-weight)];
  }

  .ex-table-cell {
    @apply align-middle;
    @apply px-[var(--ex-px)] py-[var(--ex-py)];
  }
}
