@utility status-sm {
  --ex-size: var(--ex-status-size-sm, 6px);
  --ex-radius: var(--ex-status-radius-sm, 9999px);
}

@utility status-md {
  --ex-size: var(--ex-status-size-md, 8px);
  --ex-radius: var(--ex-status-radius-md, 9999px);
}

@utility status-lg {
  --ex-size: var(--ex-status-size-lg, 10px);
  --ex-radius: var(--ex-status-radius-lg, 9999px);
}

@utility status-xl {
  --ex-size: var(--ex-status-size-xl, 12px);
  --ex-radius: var(--ex-status-radius-xl, 9999px);
}

@layer components {
  .ex-status {
    @apply status-md;
  }

  .ex-status {
    @apply palette-primary variant-solid;
  }

  .ex-status {
    @apply inline-flex shrink-0;
    @apply size-[var(--ex-size)] rounded-[var(--ex-radius)];
  }
}
