@layer theme, base, components, utilities;
@reference "../../styles.css";

@layer components {
  .ex-accordion {
    @apply accordion-md;
  }

  .ex-accordion {
    @apply palette-neutral variant-outline;
  }

  .ex-accordion {
    @apply flex flex-col;
    @apply rounded-[var(--ex-radius)] [font-size:var(--ex-font-size)];

    &:where(.variant-solid) {
      @apply component-variant-solid-contrast;

      .ex-accordion-item {
        @apply border-[var(--shade-soft)] dark:border-[var(--shade-soft-dark)];
      }
    }

    &:where(.variant-subtle) .ex-accordion-item {
      @apply border-[var(--shade-raised)] dark:border-[var(--shade-raised-dark)];
    }
  }

  .ex-accordion-item {
    @apply border-b border-inherit;

    &:where(:last-child) {
      @apply border-be-0;
    }
  }

  .ex-accordion-header {
    @apply flex items-center;
  }

  .ex-accordion-trigger {
    --ex-cursor: var(--ex-accordion-trigger-cursor, default);

    @apply relative inline-block flex-1 cursor-pointer truncate text-start;
    @apply gap-x-[var(--ex-gap-x)] px-[var(--ex-px)] py-[var(--ex-py)] pe-[calc(var(--ex-px)*2)] [cursor:var(--ex-cursor)];

    &:where([data-state='open']) .ex-accordion-icon > .ex-accordion-icon {
      transform: rotate(180deg);
    }
  }

  .ex-accordion-icon {
    @apply pointer-events-none absolute end-4 top-1/2 inline-flex h-[1em] w-[1em] flex-shrink-0 -translate-y-1/2 items-center justify-center leading-none;
    @apply [font-size:var(--ex-font-size)];
  }

  .ex-accordion-caret {
    @apply size-[1em] fill-none stroke-current stroke-1 [stroke-linecap:round] [stroke-linejoin:round];
  }

  .ex-accordion-content {
    @apply overflow-hidden;

    &:where([data-state='open']) {
      --tw-enter-height: var(--radix-accordion-content-height, auto);
      @apply animate-collapse-down;
    }

    &:where([data-state='closed']) {
      --tw-exit-height: var(--radix-accordion-content-height, auto);
      @apply animate-collapse-up;
    }

    > .ex-accordion-section:is(:first-child) {
      @apply pbs-0;
    }
  }

  .ex-accordion-section {
    @apply flex flex-col;
    @apply gap-x-[var(--ex-gap-x)] gap-y-[var(--ex-gap-y)] px-[var(--ex-px)] py-[var(--ex-py)];
  }

  .ex-accordion-title {
    --ex-font-weight: var(--ex-accordion-title-font-weight, var(--font-weight-semibold));

    @apply [font-size:var(--ex-font-size)] [font-weight:var(--ex-font-weight)];
  }

  .ex-accordion-description {
    --ex-font-weight: var(--ex-accordion-description-font-weight, var(--font-weight-normal));
    --ex-opacity: var(--ex-accordion-description-opacity, var(--ex-options-muted-opacity));

    @apply opacity-[var(--ex-opacity)] [font-size:var(--ex-font-size)] [font-weight:var(--ex-font-weight)];
  }
}

@layer utilities {
  .ex-accordion-trigger {
    &:where(:focus-visible) {
      @apply interactive-focus;
    }
  }

  .ex-accordion {
    &:where(:not([class*='variant-'])),
    &:where([class*='variant-outline']) {
      --background: var(--ex-options-panel-background-default-color);
      --background-dark: var(--ex-options-panel-background-default-color-dark);
    }
  }
}
