@layer theme, base, components, utilities;
@reference "../../styles.css";

@layer components {
  .ex-box {
    --ex-px: 0;
    --ex-py: 0;

    --ex-radius: var(--ex-box-radius, var(--radius-sm));
  }

  .ex-box {
    @apply rounded-(--ex-radius) px-(--ex-px) py-(--ex-py);
  }
}
