@layer theme, base, components, utilities;
@reference "../../styles.css";

@layer components {
  .ex-textarea {
    --ex-font-family: var(--ex-textarea-font-family, var(--font-sans));
    --ex-font-weight: var(--ex-textarea-font-weight, var(--font-weight-normal));
    --ex-opacity: var(--ex-options-opacity-placeholder);

    @apply textarea-md;
  }

  .ex-textarea {
    @apply variant-outline palette-neutral;
    @apply border-transparent! bg-transparent! text-inherit! outline-transparent!;
  }

  .ex-textarea {
    @apply relative isolate inline-flex w-full min-w-0;
  }

  .ex-textarea-field {
    @apply variant;
  }

  .ex-textarea-field {
    @apply inline-flex w-full min-w-0;
    @apply rounded-(--ex-radius) px-(--ex-px) py-(--ex-py) [font-family:var(--ex-font-family)] [font-size:var(--ex-font-size)] [font-weight:var(--ex-font-weight)];

    &::placeholder {
      @apply opacity-(--ex-opacity) text-inherit;
    }
  }
}

@layer utilities {
  .ex-textarea {
    @apply valid invalid;
  }

  .ex-textarea-field {
    @apply interactive;
  }
}
