@layer theme, base, components, utilities;
@reference "../../styles.css";

@layer components {
  .ex-textarea {
    --ex-font-family: var(--ex-textarea-font-family, var(--font-sans));
    --ex-font-weight: var(--ex-textarea-font-weight, var(--font-weight-normal));
    --ex-opacity: var(--ex-options-placeholder-opacity);

    @apply textarea-md;
  }

  .ex-textarea {
    @apply palette-neutral variant-outline;
  }

  .ex-textarea {
    @apply inline-flex w-full;
    @apply rounded-[var(--ex-radius)] px-[var(--ex-px)] py-[var(--ex-py)] [font-family:var(--ex-font-family)] [font-size:var(--ex-font-size)] [font-weight:var(--ex-font-weight)];

    &::placeholder {
      @apply text-[inherit] [opacity:var(--ex-opacity)];
    }

    &:where(.variant-solid) {
      &::placeholder {
        @apply opacity-[calc(var(--ex-options-disabled-opacity)+0.15)];
      }
    }
  }
}

@layer utilities {
  .ex-textarea {
    @apply interactive valid invalid;
  }
}
