@layer theme, base, components, utilities;
@reference "../../styles.css";

@layer components {
  .ex-scroll-area {
    @apply scroll-area-md palette-neutral variant-solid overflow-hidden;
    @apply border-transparent! bg-transparent! text-inherit! outline-transparent!;
  }
}

@layer components {
  .ex-scroll-area-viewport {
    @apply h-full w-full rounded-[inherit];
  }
}

@layer components {
  .ex-scroll-area-scrollbar {
    @apply variant bg-[color-mix(in_srgb,_var(--background)_20%,_transparent)];
  }

  .ex-scroll-area-scrollbar {
    @apply flex touch-none select-none rounded-full border;
    @apply end-[var(--scrollbar-size)];

    &:where([data-orientation='vertical']) {
      width: var(--scrollbar-size);
    }

    &:where([data-orientation='horizontal']) {
      height: var(--scrollbar-size);
      @apply flex-col;
    }

    &:where([data-state='hidden']) {
      @apply invisible;

      + .ex-scroll-area-corner {
        @apply invisible;
      }
    }
  }
}

@layer components {
  .ex-scroll-area-thumb {
    @apply variant-solid;
    @apply relative flex-1 rounded-full;

    &:where(::before) {
      content: '';
      @apply absolute left-1/2 top-1/2 h-full min-h-12 w-full min-w-12 -translate-x-1/2 -translate-y-1/2 transform;
    }
  }
}

@layer components {
  .ex-scroll-area-content {
    @apply pbe-[var(--scrollbar-size)] pe-[var(--scrollbar-size)];
    @apply flex items-start;
  }
}
