@utility scroll-area-xs {
  --ex-size-xs: var(--ex-scroll-area-scrollbar-size-xs, calc(var(--spacing) * 0.5));
  --scrollbar-size: var(--ex-size-xs);
}

@utility scroll-area-sm {
  --ex-size-sm: var(--ex-scroll-area-scrollbar-size-sm, calc(var(--spacing) * 1));
  --scrollbar-size: var(--ex-size-sm);
}

@utility scroll-area-md {
  --ex-size-md: var(--ex-scroll-area-scrollbar-size-md, calc(var(--spacing) * 1.5));
  --scrollbar-size: var(--ex-size-md);
}

@utility scroll-area-lg {
  --ex-size-lg: var(--ex-scroll-area-scrollbar-size-lg, calc(var(--spacing) * 2));
  --scrollbar-size: var(--ex-size-lg);
}

@utility scroll-area-xl {
  --ex-size-xl: var(--ex-scroll-area-scrollbar-size-xl, calc(var(--spacing) * 2.5));
  --scrollbar-size: var(--ex-size-xl);
}

@layer components {
  .ex-scroll-area {
    @apply scroll-area-md palette-neutral variant-solid overflow-hidden;
    @apply border-transparent! bg-transparent! text-inherit! outline-transparent!;
  }
}

@layer components {
  .ex-scroll-area-viewport {
    @apply h-full w-full rounded-[inherit];
  }
}

@layer components {
  .ex-scroll-area-scrollbar {
    @apply variant bg-[color-mix(in_srgb,_var(--background)_20%,_transparent)];
  }

  .ex-scroll-area-scrollbar {
    @apply flex touch-none rounded-full border select-none;
    @apply end-[var(--scrollbar-size)];

    &:where([data-orientation='vertical']) {
      width: var(--scrollbar-size);
    }

    &:where([data-orientation='horizontal']) {
      height: var(--scrollbar-size);
      @apply flex-col;
    }

    &:where([data-state='hidden']) {
      @apply invisible;

      + .ex-scroll-area-corner {
        @apply invisible;
      }
    }
  }
}

@layer components {
  .ex-scroll-area-thumb {
    @apply variant-solid;
    @apply relative flex-1 rounded-full;

    &:where(::before) {
      content: '';
      @apply absolute top-1/2 left-1/2 h-full min-h-12 w-full min-w-12 -translate-x-1/2 -translate-y-1/2 transform;
    }
  }
}

@layer components {
  .ex-scroll-area-content {
    @apply pe-[var(--scrollbar-size)] pbe-[var(--scrollbar-size)];
    @apply flex items-start;
  }
}
