@layer components {
  .ex-border-beam {
    --ex-gradient-color: var(
      --ex-border-beam-color,
      transparent,
      var(--color-primary),
      transparent
    );

    --ex-radius: var(--ex-border-beam-radius, var(--radius-sm));
    --ex-border-width: var(--ex-border-beam-width, 1px);
    --ex-border-length: var(--ex-border-beam-length, 50%);

    --ex-delay: var(--ex-border-beam-delay, 0s);
    --ex-ease: var(--ex-border-beam-ease, linear);
    --ex-duration: var(--ex-border-beam-duration, 4s);

    --ex-fill: var(--ex-border-beam-fill, forwards);
    --ex-direction: var(--ex-border-beam-direction, normal);

    --ex-count: var(--ex-border-beam-count, infinite);
    --ex-play: var(--ex-border-beam-play, running);

    --ex-animation: var(--ex-border-beam-animation, border-beam-pulse);

    @apply relative rounded-[var(--ex-radius)];
  }

  .ex-border-beam-track {
    @apply pointer-events-none absolute inset-0 rounded-[inherit] border-transparent mask-intersect;

    border-style: solid;
    border-width: var(--ex-border-width);

    mask-clip: padding-box, border-box;
    mask-image: linear-gradient(transparent, transparent), linear-gradient(#000, #000);
  }

  .ex-border-beam-pulse {
    @apply absolute aspect-square;
    @apply w-[var(--ex-border-length)];

    offset-path: rect(0 auto auto 0 round var(--ex-border-length));
    background-image: linear-gradient(to left, var(--ex-gradient-color));
  }

  .ex-border-beam-pulse {
    animation: border-beam-pulse var(--ex-duration) var(--ex-ease) var(--ex-delay) var(--ex-count)
      var(--ex-direction) var(--ex-fill);

    animation-name: var(--ex-animation);
    animation-play-state: var(--ex-play);
  }
}
