@layer theme, base, components, utilities;
@reference "../../styles.css";

@layer components {
  .ex-nav-button {
    --ex-cursor: var(--ex-nav-button-cursor, pointer);
    --ex-font-family: var(--ex-nav-button-font-family, var(--font-sans));
    --ex-font-weight: var(--ex-nav-button-font-weight, var(--font-weight-normal));

    @apply nav-button-md;
  }

  .ex-nav-button {
    @apply variant-solid palette-primary;
  }

  .ex-nav-button {
    @apply inline-flex shrink-0 select-none flex-col items-center justify-center leading-none;
    @apply w-(--ex-width) cursor-(--ex-cursor) gap-y-(--ex-gap-y) rounded-(--ex-radius) py-(--ex-py) font-(--ex-font-weight) [font-family:var(--ex-font-family)] [font-size:var(--ex-font-size)];

    > svg {
      @apply relative h-[1em] w-[1em];
    }
  }
}

@layer utilities {
  .ex-nav-button {
    @apply interactive;
  }
}
