@layer theme, base, components, utilities;
@reference "../../styles.css";

@layer components {
  .ex-blockquote {
    --ex-font-family: var(--ex-blockquote-font-family, var(--font-sans));
    --ex-font-weight: var(--ex-blockquote-font-weight, var(--font-weight-normal));

    @apply blockquote-md;
  }

  .ex-blockquote {
    @apply variant-subtle palette-neutral;
  }

  .ex-blockquote {
    @apply relative flex flex-col;
    @apply gap-x-[var(--ex-gap-x)] gap-y-[var(--ex-gap-y)] rounded-[var(--ex-radius)] px-[var(--ex-px)] py-[var(--ex-py)] [font-family:var(--ex-font-family)] [font-size:var(--ex-font-size)] [font-weight:var(--ex-font-weight)];

    &:where(.variant-solid) {
      @apply component-variant-solid-contrast;
    }
  }

  .ex-blockquote-content {
    @apply flex flex-col gap-x-[var(--ex-gap-x)] gap-y-[var(--ex-gap-y)];
  }

  .ex-blockquote-icon {
    @apply inline-flex h-[1em] w-[1em];
    @apply [font-size:var(--ex-font-size)];
  }

  .ex-blockquote-quotes {
    @apply size-[1em] fill-current;
  }

  .ex-blockquote-cite {
    --ex-opacity: var(--ex-blockquote-cite-opacity, var(--ex-options-muted-opacity));
  }

  .ex-blockquote-cite {
    @apply opacity-[var(--ex-opacity)] [font-family:var(--ex-font-family)] [font-size:var(--ex-font-size)] [font-weight:var(--ex-font-weight)];
  }
}
