@utility password-sm {
  --ex-height: var(--ex-password-height-sm, var(--ex-size-xl));

  --ex-px: var(--ex-password-px-sm, calc(var(--spacing) * 3.5));
  --ex-radius: var(--ex-password-radius-sm, var(--radius-sm));
  --ex-font-size: var(--ex-password-font-size-sm, var(--text-xs));
}

@utility password-md {
  --ex-height: var(--ex-password-height-md, var(--ex-size-2xl));

  --ex-px: var(--ex-password-px-md, calc(var(--spacing) * 4));
  --ex-radius: var(--ex-password-radius-md, var(--radius-sm));
  --ex-font-size: var(--ex-password-font-size-md, var(--text-sm));
}

@utility password-lg {
  --ex-height: var(--ex-password-height-lg, var(--ex-size-3xl));

  --ex-px: var(--ex-password-px-lg, calc(var(--spacing) * 4.5));
  --ex-radius: var(--ex-password-radius-lg, var(--radius-sm));
  --ex-font-size: var(--ex-password-font-size-lg, var(--text-base));
}

@layer components {
  .ex-password {
    --ex-font-family: var(--ex-password-font-family, var(--font-sans));
    --ex-font-weight: var(--ex-password-font-weight, var(--font-weight-normal));
    --ex-opacity: var(--ex-options-placeholder-opacity);

    @apply password-md;
  }

  *:not(.ex-input-group) {
    > .ex-password {
      @apply palette-neutral variant-outline;
      @apply border-transparent! bg-transparent! text-inherit! outline-transparent!;
    }
  }

  .ex-password {
    @apply relative inline-flex w-full flex-nowrap items-center justify-center;

    &:where(.variant-solid) {
      @apply component-variant-solid-contrast;

      .ex-password-input {
        &::placeholder {
          @apply opacity-[calc(var(--ex-options-disabled-opacity)+0.15)];
        }
      }
    }

    &:has(.ex-password-toggle) {
      .ex-password-input {
        @apply pe-[calc(var(--ex-px)+2.5em)];
      }
    }
  }

  .ex-password-input {
    @apply variant inline-flex w-full;
    @apply h-[var(--ex-height)] rounded-[var(--ex-radius)] px-[var(--ex-px)] [font-family:var(--ex-font-family)] [font-size:var(--ex-font-size)] [font-weight:var(--ex-font-weight)];

    &::placeholder {
      @apply text-[inherit] [opacity:var(--ex-opacity)];
    }
  }

  .ex-password-toggle {
    --ex-cursor: var(--ex-password-toggle-cursor, default);

    @apply absolute inline-flex size-[1em] items-center justify-center;
    @apply end-[var(--ex-px)] cursor-[var(--ex-cursor)];
  }

  .ex-password-toggle-icon {
    @apply fill-none stroke-current stroke-[1.5] [stroke-linecap:round] [stroke-linejoin:round];
  }
}

@layer utilities {
  .ex-password {
    @apply valid invalid;
  }

  .ex-password-input {
    @apply interactive-form-control;
  }
}
