@layer theme, base, components, utilities;
@reference "../../styles.css";

@layer components {
  .ex-radio {
    @apply radio-md;
  }

  .ex-radio {
    @apply flex items-center justify-center;
    @apply gap-x-[var(--ex-gap-x)] [font-size:var(--ex-font-size)];
  }

  .ex-radio-control {
    @apply variant;
  }

  .ex-radio-control {
    --ex-cursor: var(--ex-radio-cursor, default);

    @apply flex select-none items-center justify-center rounded-full [transform:translateZ(0)];
    @apply size-[var(--ex-size)] cursor-[var(--ex-cursor)];
  }

  .ex-radio-indicator {
    @apply inline-flex items-center justify-center leading-none;
    @apply [font-size:var(--ex-font-size)];

    &:where([data-state='unchecked']) > * {
      @apply invisible;
    }
  }

  .ex-radio-check {
    @apply size-[0.625em] align-middle;

    circle {
      @apply fill-current;
    }
  }

  .ex-radio-label {
    --ex-font-family: var(--ex-radio-label-font-family, var(--font-sans));
    --ex-font-weight: var(--ex-radio-label-font-weight, var(--font-weight-semibold));

    @apply [font-family:var(--ex-font-family)] [font-size:var(--ex-font-size)] [font-weight:var(--ex-font-weight)];
  }
}

@layer utilities {
  .ex-radio-control {
    @apply interactive;
  }
}
