@utility radio-sm {
  --ex-gap-x: var(--ex-radio-gap-x-sm, calc(var(--spacing) * 2));

  .ex-radio-control {
    --ex-size: var(--ex-radio-size-sm, var(--ex-size-2xs));
    --ex-radius: var(--ex-radio-radius-sm, 9999px);
  }

  .ex-radio-indicator {
    --ex-font-size: var(--ex-radio-indicator-font-size-sm, var(--text-lg));
  }

  .ex-radio-label {
    --ex-font-size: var(--ex-radio-label-font-size-sm, var(--text-xs));
  }
}

@utility radio-md {
  --ex-gap-x: var(--ex-radio-gap-x-md, calc(var(--spacing) * 2.5));

  .ex-radio-control {
    --ex-size: var(--ex-radio-size-md, var(--ex-size-xs));
    --ex-radius: var(--ex-radio-radius-md, 9999px);
  }

  .ex-radio-indicator {
    --ex-font-size: var(--ex-radio-indicator-font-size-md, var(--text-xl));
  }

  .ex-radio-label {
    --ex-font-size: var(--ex-radio-label-font-size-md, var(--text-sm));
  }
}

@utility radio-lg {
  --ex-gap-x: var(--ex-radio-gap-x-lg, calc(var(--spacing) * 3));

  .ex-radio-control {
    --ex-size: var(--ex-radio-size-lg, var(--ex-size-sm));
    --ex-radius: var(--ex-radio-radius-lg, 9999px);
  }

  .ex-radio-indicator {
    --ex-font-size: var(--ex-radio-indicator-font-size-lg, var(--text-2xl));
  }

  .ex-radio-label {
    --ex-font-size: var(--ex-radio-label-font-size-lg, var(--text-base));
  }
}

@layer components {
  .ex-radio {
    @apply radio-md;
  }

  .ex-radio {
    @apply flex items-center justify-center;
    @apply gap-x-[var(--ex-gap-x)] [font-size:var(--ex-font-size)];
  }

  .ex-radio-control {
    @apply variant;
  }

  .ex-radio-control {
    --ex-cursor: var(--ex-radio-cursor, default);

    @apply flex [transform:translateZ(0)] items-center justify-center rounded-full select-none;
    @apply size-[var(--ex-size)] cursor-[var(--ex-cursor)];
  }

  .ex-radio-indicator {
    @apply inline-flex items-center justify-center leading-none;
    @apply [font-size:var(--ex-font-size)];

    &:where([data-state='unchecked']) > * {
      @apply invisible;
    }
  }

  .ex-radio-check {
    @apply size-[0.625em] align-middle;

    circle {
      @apply fill-current;
    }
  }

  .ex-radio-label {
    --ex-font-family: var(--ex-radio-label-font-family, var(--font-sans));
    --ex-font-weight: var(--ex-radio-label-font-weight, var(--font-weight-semibold));

    @apply [font-family:var(--ex-font-family)] [font-size:var(--ex-font-size)] [font-weight:var(--ex-font-weight)];
  }
}

@layer utilities {
  .ex-radio-control {
    @apply interactive-form-control;
  }
}
