@layer theme, base, components, utilities;
@reference "../../styles.css";

@layer components {
  .ex-tooltip-content {
    --ex-font-family: var(--ex-tooltip-font-family, var(--font-sans));
    --ex-font-weight: var(--ex-tooltip-font-weight, var(--font-weight-normal));

    @apply tooltip-content-md;
  }

  .ex-tooltip-content {
    @apply tonal-black variant-solid;
  }

  .ex-tooltip-content {
    --ex-z-index: var(--ex-tooltip-z-index, var(--ex-options-z-tooltip));

    @apply flex will-change-[transform,opacity];
    @apply z-[var(--ex-z-index)] max-w-[var(--ex-max-w)] gap-x-[var(--ex-gap-x)] rounded-[var(--ex-radius)] px-[var(--ex-px)] py-[var(--ex-py)] shadow-[var(--shadow)] [font-family:var(--ex-font-family)] [font-size:var(--ex-font-size)] [font-weight:var(--ex-font-weight)];

    &:where(:focus) {
      @apply outline-none;
    }

    &:where([data-state='delayed-open'][data-side='top']) {
      @apply animate-in slide-from-top-1 fade-in;
    }

    &:where([data-state='delayed-open'][data-side='right']) {
      @apply animate-in slide-from-end-1 fade-in;
    }

    &:where([data-state='delayed-open'][data-side='bottom']) {
      @apply animate-in slide-from-bottom-1 fade-in;
    }

    &:where([data-state='delayed-open'][data-side='left']) {
      @apply animate-in slide-from-start-1 fade-in;
    }
  }

  .ex-tooltip-arrow {
    @apply m-[-1px] h-[var(--ex-height)] w-[var(--ex-width)] fill-[var(--background)] stroke-[var(--border)] dark:fill-[var(--background-dark)] dark:stroke-[var(--border-dark)];

    stroke-dasharray: 2rem 2rem;
    stroke-dashoffset: 2rem;
    stroke-width: 2px;
  }
}

@layer utilities {
  .ex-tooltip-content {
    @apply component-variant-solid-contrast;
  }
}
