@layer base {
  *,
  button,
  input,
  select,
  optgroup,
  textarea,
  ::file-selector-button {
    &:is(:disabled, [disabled], [data-disabled]) {
      @apply disabled;
    }
  }

  :root {
    --ex-colors-body: var(--ex-options-body-color);
    --ex-colors-foreground: var(--ex-options-foreground-color);
    --ex-colors-panel-body: var(--ex-options-panel-body-color);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --ex-colors-body: var(--ex-options-body-color-dark);
      --ex-colors-foreground: var(--ex-options-foreground-color-dark);
      --ex-colors-panel-body: var(--ex-options-panel-body-color-dark);
    }
  }

  .dark {
    --ex-colors-body: var(--ex-options-body-color-dark);
    --ex-colors-foreground: var(--ex-options-foreground-color-dark);
    --ex-colors-panel-body: var(--ex-options-panel-body-color-dark);
  }

  html {
    @apply bg-(--ex-colors-body) text-(--ex-colors-foreground) outline-(--ex-colors-body);
  }

  html.ex-disable-transitions,
  html.ex-disable-transitions *,
  html.ex-disable-transitions *::before,
  html.ex-disable-transitions *::after {
    transition-property: none !important;
    animation-duration: 0s !important;
    animation-delay: 0s !important;
  }
}
