@utility palette-primary {
  --palette-50: var(--color-primary-50);
  --palette-100: var(--color-primary-100);
  --palette-200: var(--color-primary-200);
  --palette-300: var(--color-primary-300);
  --palette-400: var(--color-primary-400);
  --palette-500: var(--color-primary-500);
  --palette-600: var(--color-primary-600);
  --palette-700: var(--color-primary-700);
  --palette-800: var(--color-primary-800);
  --palette-900: var(--color-primary-900);
  --palette-950: var(--color-primary-950);
}

@utility palette-neutral {
  --palette-50: var(--color-neutral-50);
  --palette-100: var(--color-neutral-100);
  --palette-200: var(--color-neutral-200);
  --palette-300: var(--color-neutral-300);
  --palette-400: var(--color-neutral-400);
  --palette-500: var(--color-neutral-500);
  --palette-600: var(--color-neutral-600);
  --palette-700: var(--color-neutral-700);
  --palette-800: var(--color-neutral-800);
  --palette-900: var(--color-neutral-900);
  --palette-950: var(--color-neutral-950);
}

@utility palette-inherit {
  --palette-50: inherit;
  --palette-100: inherit;
  --palette-200: inherit;
  --palette-300: inherit;
  --palette-400: inherit;
  --palette-500: inherit;
  --palette-600: inherit;
  --palette-700: inherit;
  --palette-800: inherit;
  --palette-900: inherit;
  --palette-950: inherit;
}
