@utility palette-primary {
  --palette-50: var(--color-primary-50);
  --palette-100: var(--color-primary-100);
  --palette-200: var(--color-primary-200);
  --palette-300: var(--color-primary-300);
  --palette-400: var(--color-primary-400);
  --palette-500: var(--color-primary-500);
  --palette-600: var(--color-primary-600);
  --palette-700: var(--color-primary-700);
  --palette-800: var(--color-primary-800);
  --palette-900: var(--color-primary-900);
  --palette-950: var(--color-primary-950);
}

@utility palette-neutral {
  --palette-50: var(--color-neutral-50);
  --palette-100: var(--color-neutral-100);
  --palette-200: var(--color-neutral-200);
  --palette-300: var(--color-neutral-300);
  --palette-400: var(--color-neutral-400);
  --palette-500: var(--color-neutral-500);
  --palette-600: var(--color-neutral-600);
  --palette-700: var(--color-neutral-700);
  --palette-800: var(--color-neutral-800);
  --palette-900: var(--color-neutral-900);
  --palette-950: var(--color-neutral-950);
}

/* @utility palette-accent {
  --palette-50: var(--color-accent-50);
  --palette-100: var(--color-accent-100);
  --palette-200: var(--color-accent-200);
  --palette-300: var(--color-accent-300);
  --palette-400: var(--color-accent-400);
  --palette-500: var(--color-accent-500);
  --palette-600: var(--color-accent-600);
  --palette-700: var(--color-accent-700);
  --palette-800: var(--color-accent-800);
  --palette-900: var(--color-accent-900);
  --palette-950: var(--color-accent-950);
} */

/* @utility palette-error {
  --palette-50: var(--color-error-50);
  --palette-100: var(--color-error-100);
  --palette-200: var(--color-error-200);
  --palette-300: var(--color-error-300);
  --palette-400: var(--color-error-400);
  --palette-500: var(--color-error-500);
  --palette-600: var(--color-error-600);
  --palette-700: var(--color-error-700);
  --palette-800: var(--color-error-800);
  --palette-900: var(--color-error-900);
  --palette-950: var(--color-error-950);
}

@utility palette-success {
  --palette-50: var(--color-success-50);
  --palette-100: var(--color-success-100);
  --palette-200: var(--color-success-200);
  --palette-300: var(--color-success-300);
  --palette-400: var(--color-success-400);
  --palette-500: var(--color-success-500);
  --palette-600: var(--color-success-600);
  --palette-700: var(--color-success-700);
  --palette-800: var(--color-success-800);
  --palette-900: var(--color-success-900);
  --palette-950: var(--color-success-950);
} */

/*
@utility palette-info {
  --palette-50: var(--color-info-50);
  --palette-100: var(--color-info-100);
  --palette-200: var(--color-info-200);
  --palette-300: var(--color-info-300);
  --palette-400: var(--color-info-400);
  --palette-500: var(--color-info-500);
  --palette-600: var(--color-info-600);
  --palette-700: var(--color-info-700);
  --palette-800: var(--color-info-800);
  --palette-900: var(--color-info-900);
  --palette-950: var(--color-info-950);
} */

/* @utility palette-warning {
  --palette-50: var(--color-warning-50);
  --palette-100: var(--color-warning-100);
  --palette-200: var(--color-warning-200);
  --palette-300: var(--color-warning-300);
  --palette-400: var(--color-warning-400);
  --palette-500: var(--color-warning-500);
  --palette-600: var(--color-warning-600);
  --palette-700: var(--color-warning-700);
  --palette-800: var(--color-warning-800);
  --palette-900: var(--color-warning-900);
  --palette-950: var(--color-warning-950);
} */

@utility palette-inherit {
  --palette-50: inherit;
  --palette-100: inherit;
  --palette-200: inherit;
  --palette-300: inherit;
  --palette-400: inherit;
  --palette-500: inherit;
  --palette-600: inherit;
  --palette-700: inherit;
  --palette-800: inherit;
  --palette-900: inherit;
  --palette-950: inherit;
}
