@theme {
  --color-primary: oklch(0.5 0.22 267);
  --color-primary-foreground: color-mix(in oklch, var(--color-primary) 2%, white);
  --color-primary-50: color-mix(in oklch, var(--color-primary) 10%, white);
  --color-primary-50-foreground: color-mix(in oklch, var(--color-primary) 50%, black);
  --color-primary-100: color-mix(in oklch, var(--color-primary) 20%, white);
  --color-primary-100-foreground: color-mix(in oklch, var(--color-primary) 50%, black);
  --color-primary-200: color-mix(in oklch, var(--color-primary) 35%, white);
  --color-primary-200-foreground: color-mix(in oklch, var(--color-primary) 50%, black);
  --color-primary-300: color-mix(in oklch, var(--color-primary) 50%, white);
  --color-primary-300-foreground: color-mix(in oklch, var(--color-primary) 50%, black);
  --color-primary-400: color-mix(in oklch, var(--color-primary) 75%, white);
  --color-primary-400-foreground: color-mix(in oklch, var(--color-primary) 2%, white);
  --color-primary-500: var(--color-primary);
  --color-primary-500-foreground: color-mix(in oklch, var(--color-primary) 2%, white);
  --color-primary-600: color-mix(in oklch, var(--color-primary) 85%, black);
  --color-primary-600-foreground: color-mix(in oklch, var(--color-primary) 2%, white);
  --color-primary-700: color-mix(in oklch, var(--color-primary) 70%, black);
  --color-primary-700-foreground: color-mix(in oklch, var(--color-primary) 2%, white);
  --color-primary-800: color-mix(in oklch, var(--color-primary) 55%, black);
  --color-primary-800-foreground: color-mix(in oklch, var(--color-primary) 2%, white);
  --color-primary-900: color-mix(in oklch, var(--color-primary) 40%, black);
  --color-primary-900-foreground: color-mix(in oklch, var(--color-primary) 2%, white);
  --color-primary-950: color-mix(in oklch, var(--color-primary) 30%, black);
  --color-primary-950-foreground: color-mix(in oklch, var(--color-primary) 2%, white);
  --color-accent: oklch(0.5 0.22 280);
  --color-accent-foreground: color-mix(in oklch, var(--color-accent) 2%, white);
  --color-accent-50: color-mix(in oklch, var(--color-accent) 10%, white);
  --color-accent-50-foreground: color-mix(in oklch, var(--color-accent) 50%, black);
  --color-accent-100: color-mix(in oklch, var(--color-accent) 20%, white);
  --color-accent-100-foreground: color-mix(in oklch, var(--color-accent) 50%, black);
  --color-accent-200: color-mix(in oklch, var(--color-accent) 35%, white);
  --color-accent-200-foreground: color-mix(in oklch, var(--color-accent) 50%, black);
  --color-accent-300: color-mix(in oklch, var(--color-accent) 50%, white);
  --color-accent-300-foreground: color-mix(in oklch, var(--color-accent) 50%, black);
  --color-accent-400: color-mix(in oklch, var(--color-accent) 75%, white);
  --color-accent-400-foreground: color-mix(in oklch, var(--color-accent) 2%, white);
  --color-accent-500: var(--color-accent);
  --color-accent-500-foreground: color-mix(in oklch, var(--color-accent) 2%, white);
  --color-accent-600: color-mix(in oklch, var(--color-accent) 85%, black);
  --color-accent-600-foreground: color-mix(in oklch, var(--color-accent) 2%, white);
  --color-accent-700: color-mix(in oklch, var(--color-accent) 70%, black);
  --color-accent-700-foreground: color-mix(in oklch, var(--color-accent) 2%, white);
  --color-accent-800: color-mix(in oklch, var(--color-accent) 55%, black);
  --color-accent-800-foreground: color-mix(in oklch, var(--color-accent) 2%, white);
  --color-accent-900: color-mix(in oklch, var(--color-accent) 40%, black);
  --color-accent-900-foreground: color-mix(in oklch, var(--color-accent) 2%, white);
  --color-accent-950: color-mix(in oklch, var(--color-accent) 30%, black);
  --color-accent-950-foreground: color-mix(in oklch, var(--color-accent) 2%, white);
  --color-neutral: oklch(0.5 0.03 275);
  --color-neutral-foreground: color-mix(in oklch, var(--color-neutral) 2%, white);
  --color-neutral-50: color-mix(in oklch, var(--color-neutral) 10%, white);
  --color-neutral-50-foreground: color-mix(in oklch, var(--color-neutral) 50%, black);
  --color-neutral-100: color-mix(in oklch, var(--color-neutral) 20%, white);
  --color-neutral-100-foreground: color-mix(in oklch, var(--color-neutral) 50%, black);
  --color-neutral-200: color-mix(in oklch, var(--color-neutral) 35%, white);
  --color-neutral-200-foreground: color-mix(in oklch, var(--color-neutral) 50%, black);
  --color-neutral-300: color-mix(in oklch, var(--color-neutral) 50%, white);
  --color-neutral-300-foreground: color-mix(in oklch, var(--color-neutral) 50%, black);
  --color-neutral-400: color-mix(in oklch, var(--color-neutral) 75%, white);
  --color-neutral-400-foreground: color-mix(in oklch, var(--color-neutral) 2%, white);
  --color-neutral-500: var(--color-neutral);
  --color-neutral-500-foreground: color-mix(in oklch, var(--color-neutral) 2%, white);
  --color-neutral-600: color-mix(in oklch, var(--color-neutral) 85%, black);
  --color-neutral-600-foreground: color-mix(in oklch, var(--color-neutral) 2%, white);
  --color-neutral-700: color-mix(in oklch, var(--color-neutral) 70%, black);
  --color-neutral-700-foreground: color-mix(in oklch, var(--color-neutral) 2%, white);
  --color-neutral-800: color-mix(in oklch, var(--color-neutral) 55%, black);
  --color-neutral-800-foreground: color-mix(in oklch, var(--color-neutral) 2%, white);
  --color-neutral-900: color-mix(in oklch, var(--color-neutral) 40%, black);
  --color-neutral-900-foreground: color-mix(in oklch, var(--color-neutral) 2%, white);
  --color-neutral-950: color-mix(in oklch, var(--color-neutral) 30%, black);
  --color-neutral-950-foreground: color-mix(in oklch, var(--color-neutral) 2%, white);
}
