@layer theme, base, components, utilities;
@reference "../../styles.css";

@layer components {
  .ex-hover-card-content {
    @apply hover-card-content-md;
  }

  .ex-hover-card-content {
    @apply flex flex-1 flex-col;
  }

  .ex-hover-card-content {
    --ex-z-index: var(--ex-hover-card-z-index, var(--ex-options-z-hover-card));

    @apply palette-neutral variant-outline flex will-change-[transform,opacity];
    @apply z-[var(--ex-z-index)] max-w-[var(--ex-max-w)] rounded-[var(--ex-radius)] shadow-[var(--ex-shadow)] [font-size:var(--ex-font-size)];

    &:where(:focus) {
      @apply outline-none;
    }

    &:where([data-side='top']) {
      @apply animate-in slide-from-top-1 fade-in;
    }

    &:where([data-side='right']) {
      @apply animate-in slide-from-end-1 fade-in;
    }

    &:where([data-side='bottom']) {
      @apply animate-in slide-from-bottom-1 fade-in;
    }

    &:where([data-side='left']) {
      @apply animate-in slide-from-start-1 fade-in;
    }
  }

  .ex-hover-card-arrow {
    @apply h-[var(--ex-height)] w-[var(--ex-width)] fill-[var(--background)] stroke-[var(--border)] dark:fill-[var(--background-dark)] dark:stroke-[var(--border-dark)];

    stroke-dasharray: 2rem 2rem;
    stroke-dashoffset: 2rem;
    stroke-width: 2px;
  }

  .ex-hover-card-section {
    @apply flex flex-col;
    @apply gap-x-[var(--ex-gap-x)] gap-y-[var(--ex-gap-y)] px-[var(--ex-px)] py-[var(--ex-py)];
  }

  .ex-hover-card-title {
    --ex-font-family: var(--ex-hover-card-title-font-family, var(--font-sans));
    --ex-font-weight: var(--ex-hover-card-title-font-weight, var(--font-weight-semibold));
    @apply [font-family:var(--ex-font-family)] [font-size:var(--ex-font-size)] [font-weight:var(--ex-font-weight)];
  }

  .ex-hover-card-description {
    --ex-font-family: var(--ex-hover-card-description-font-family, var(--font-sans));
    --ex-font-weight: var(--ex-hover-card-description-font-weight, var(--font-weight-normal));
    --ex-opacity: var(--ex-hover-card-description-opacity, var(--ex-options-muted-opacity));

    @apply opacity-[var(--ex-opacity)] [font-family:var(--ex-font-family)] [font-size:var(--ex-font-size)] [font-weight:var(--ex-font-weight)];
  }
}

@layer utilities {
  .ex-hover-card-content {
    --background: var(--ex-options-panel-background-default-color);
    --background-dark: var(--ex-options-panel-background-default-color-dark);
  }
}
