@layer theme, base, components, utilities;
@reference "../../styles.css";

@layer components {
  .ex-simple-grid {
    --ex-gap-x: var(--ex-simple-grid-gap-x, 0);
    --ex-gap-y: var(--ex-simple-grid-gap-y, 0);
    --ex-min-child-width: var(--ex-simple-grid-min-child-width, var(--container-xs));
  }

  .ex-simple-grid {
    @apply grid w-full;
    @apply gap-x-(--ex-gap-x) gap-y-(--ex-gap-y) grid-cols-[repeat(auto-fit,minmax(min(100%,var(--ex-min-child-width)),1fr))];
  }
}
