@layer theme, base, components, utilities;
@reference "../../styles.css";

@layer components {
  .ex-checkbox-card {
    @apply checkbox-card-md;
  }

  .ex-checkbox-card {
    @apply variant-outline palette-neutral;
  }

  .ex-checkbox-card {
    --ex-cursor: var(--ex-checkbox-card-cursor, default);

    @apply flex min-w-0 select-none leading-normal;
    @apply rounded-(--ex-radius) px-(--ex-px) py-(--ex-py) gap-x-(--ex-gap-x) cursor-[var(--ex-cursor)];

    &:where(.variant-solid) {
      @apply component-variant-solid-contrast;

      .ex-checkbox-card-indicator {
        @apply component-variant-solid-contrast;
      }
    }
  }

  .ex-checkbox-card-content {
    @apply flex flex-1 flex-col items-start text-start;
    @apply gap-y-(--ex-gap-y) gap-x-(--ex-gap-x);
  }

  .ex-checkbox-card-indicator {
    @apply variant-outline;
    @apply border-transparent! bg-transparent! text-inherit! outline-transparent!;

    &::before {
      @apply variant rounded-(--ex-radius) absolute size-[1em] content-[''];
    }
  }

  .ex-checkbox-card-indicator {
    @apply relative inline-flex flex-shrink-0 items-center justify-center;
    @apply [font-size:var(--ex-font-size)];

    :where(svg) {
      @apply relative size-[1em];
    }

    &:where([data-state='unchecked']) > * {
      @apply invisible;
    }
  }

  .ex-checkbox-card-indicator-svg {
    @apply fill-none stroke-current stroke-2 [stroke-linecap:round] [stroke-linejoin:round];
  }

  .ex-checkbox-card-label {
    --ex-font-family: var(--ex-checkbox-card-label-font-family, var(--font-sans));
    --ex-font-weight: var(--ex-checkbox-card-label-font-weight, var(--font-weight-medium));
  }

  .ex-checkbox-card-label {
    @apply cursor-[inherit] self-start [text-box:trim-start];
    @apply [font-family:var(--ex-font-family)] [font-size:var(--ex-font-size)] [font-weight:var(--ex-font-weight)] [line-height:var(--ex-line-height)];
  }

  .ex-checkbox-card-description {
    --ex-font-family: var(--ex-checkbox-card-description-font-family, var(--font-sans));
    --ex-font-weight: var(--ex-checkbox-card-description-font-weight, var(--font-weight-normal));
    --ex-opacity: var(--ex-checkbox-card-description-opacity, var(--ex-options-opacity-muted));
  }

  .ex-checkbox-card-description {
    @apply opacity-(--ex-opacity) [font-family:var(--ex-font-family)] [font-size:var(--ex-font-size)] [font-weight:var(--ex-font-weight)] [line-height:var(--ex-line-height)];
  }
}

@layer utilities {
  .ex-checkbox-card {
    &:where(:focus-visible) {
      @apply interactive-focus;
    }

    &:where([data-state='checked']:not([class*='variant-plain'])) {
      --border: var(--shade-bold);
    }

    &:where(:not([class*='variant-'])),
    &:where([class*='variant-outline']) {
      --background: var(--ex-options-panel-body-color);
      --background-dark: var(--ex-options-panel-body-color-dark);
    }
  }
}
