@layer theme, base, components, utilities;
@reference "../../styles.css";

@layer components {
  .ex-checkbox-card {
    @apply checkbox-card-md;
  }

  .ex-checkbox-card {
    @apply variant-outline palette-neutral;
  }

  .ex-checkbox-card {
    --ex-cursor: var(--ex-checkbox-card-cursor, default);

    @apply flex select-none leading-normal;
    @apply cursor-[var(--ex-cursor)] gap-x-[var(--ex-gap-x)] rounded-[var(--ex-radius)] px-[var(--ex-px)] py-[var(--ex-py)] [font-size:var(--ex-font-size)];

    &:where(.variant-solid) {
      @apply component-variant-solid-contrast;

      .ex-checkbox-card-indicator {
        @apply component-variant-solid-contrast;
      }
    }
  }

  .ex-checkbox-card-content {
    @apply flex flex-1 flex-col items-start text-start;
    @apply gap-x-[var(--ex-gap-x)] gap-y-[var(--ex-gap-y)];
  }

  .ex-checkbox-card-indicator {
    @apply variant-outline;
  }

  .ex-checkbox-card-indicator {
    @apply inline-flex size-[1em] flex-shrink-0 items-center justify-center;
    @apply rounded-[var(--ex-radius)] [font-size:var(--ex-font-size)];

    &:where([data-state='unchecked']) > * {
      @apply invisible;
    }
  }

  .ex-checkbox-card-check {
    @apply size-[1em] fill-none stroke-current stroke-2;
  }

  .ex-checkbox-card-label {
    --ex-font-family: var(--ex-checkbox-card-label-font-family, var(--font-sans));
    --ex-font-weight: var(--ex-checkbox-card-label-font-weight, var(--font-weight-semibold));
  }

  .ex-checkbox-card-label {
    @apply cursor-[inherit] self-start [font-family:var(--ex-font-family)] [font-size:var(--ex-font-size)] [font-weight:var(--ex-font-weight)];
  }

  .ex-checkbox-card-description {
    --ex-font-family: var(--ex-checkbox-card-description-font-family, var(--font-sans));
    --ex-font-weight: var(--ex-checkbox-card-description-font-weight, var(--font-weight-normal));
    --ex-opacity: var(--ex-checkbox-card-description-opacity, var(--ex-options-muted-opacity));
  }

  .ex-checkbox-card-description {
    @apply opacity-[var(--ex-opacity)] [font-family:var(--ex-font-family)] [font-size:var(--ex-font-size)] [font-weight:var(--ex-font-weight)];
  }
}

@layer utilities {
  .ex-checkbox-card {
    &:where(:focus-visible) {
      @apply interactive-focus;
    }

    &:where([data-state='checked']:not([class*='variant-plain'])) {
      --border: var(--shade-bold);
    }

    &:where(:not([class*='variant-'])),
    &:where([class*='variant-outline']) {
      --background: var(--ex-options-panel-background-default-color);
      --background-dark: var(--ex-options-panel-background-default-color-dark);
    }
  }
}
