@layer theme, base, components, utilities;
@reference "../../styles.css";

@layer components {
  .ex-rating {
    --ex-cursor: var(--ex-rating-cursor, default);

    @apply rating-md;
  }

  .ex-rating {
    @apply text-yellow-500;
  }

  .ex-rating {
    @apply inline-flex items-center;
    @apply gap-x-[var(--ex-gap-x)];
  }

  .ex-rating-control {
    @apply inline-flex;
    @apply [cursor:var(--ex-cursor)];

    &:where([data-filled='false']) {
      :where(.ex-rating-indicator-fg) {
        @apply invisible;
      }
    }

    &:where([data-readonly='true']) {
      --ex-cursor: default;

      @apply pointer-events-none;
    }
  }

  .ex-rating-indicator {
    @apply relative inline-flex shrink-0 select-none items-center justify-center font-normal text-inherit;
    @apply [font-size:var(--ex-font-size)];

    :where(svg) {
      @apply size-[1em];
    }

    :where(.ex-rating-indicator-bg) {
      @apply absolute inset-0 text-neutral-200 dark:text-neutral-800;
    }

    :where(.ex-rating-indicator-fg) {
      @apply z-1 relative inset-0;
      clip-path: inset(0 calc(100% - var(--ex-fill, 1) * 100%) 0 0);
    }
  }

  .ex-rating-indicator-svg {
    @apply fill-current stroke-current stroke-0;
  }
}
