@layer theme, base, components, utilities;
@reference "../../styles.css";

@layer components {
  .ex-switch {
    @apply switch-md;
  }

  .ex-switch {
    @apply variant-solid;
    @apply data-[state=checked]:palette-primary data-[state=unchecked]:palette-neutral;

    &:where([data-state='unchecked']) {
      @apply bg-[color-mix(in_srgb,_var(--background)_40%,_transparent)] dark:bg-[color-mix(in_srgb,_var(--background-dark)_40%,_transparent)];
    }

    &:where(:disabled, [disabled], [data-disabled], .disabled) {
      @apply bg-[color-mix(in_srgb,_var(--background)_20%,_transparent)] dark:bg-[color-mix(in_srgb,_var(--background-dark)_20%,_transparent)];
    }
  }

  .ex-switch {
    --ex-cursor: var(--ex-switch-cursor, default);

    @apply inline-flex shrink-0 select-none items-center [transform:translateZ(0)];
    @apply h-[var(--ex-height)] w-[var(--ex-width)] cursor-[var(--ex-cursor)] rounded-[var(--ex-radius)];
  }
}

@layer components {
  .ex-switch-thumb {
    --ex-mx: var(--ex-switch-thumb-mx, calc(var(--spacing)));
    --ex-translate-x: calc(var(--ex-width) - var(--ex-size) - (var(--ex-mx) * 2));
  }

  .ex-switch-thumb {
    @apply inline-block bg-white align-middle [transform:translateZ(0)] dark:bg-black;
    @apply mx-[var(--ex-mx)] size-[var(--ex-size)] rounded-[var(--ex-radius)] transition-transform;

    &:where([data-state='checked']) {
      transform: translateX(var(--ex-translate-x));
    }

    &:where(:disabled, [disabled], [data-disabled], .disabled) {
      @apply bg-white opacity-[unset] dark:bg-black;
    }
  }
}

@layer utilities {
  .ex-switch {
    &:where(:focus-visible) {
      @apply interactive-focus;
    }
  }
}
