@layer theme, base, components, utilities;
@reference "../../styles.css";

@layer components {
  .ex-avatar {
    --ex-font-family: var(--ex-avatar-font-family, var(--font-sans));
    --ex-font-weight: var(--ex-avatar-font-weight, var(--font-weight-normal));

    @apply avatar-md;
  }

  .ex-avatar {
    @apply variant-subtle palette-neutral;
  }

  .ex-avatar {
    @apply shrink-0 select-none overflow-hidden;
    @apply size-[var(--ex-size)] rounded-[var(--ex-radius)] [font-family:var(--ex-font-family)] [font-size:var(--ex-font-size)] [font-weight:var(--ex-font-weight)] [transform:translateZ(0)];

    &:has(.ex-avatar-image) {
      mask-image: radial-gradient(white 99%, transparent 100%);
    }

    &:not([class*='variant-outline'], [class*='variant-surface']) {
      @apply border-none;
    }
  }

  .ex-avatar-image {
    @apply h-auto w-full object-cover;
  }

  .ex-avatar-image {
    @apply absolute inset-0 rounded-none [transform:translateZ(0)];
    backface-visibility: hidden;
  }

  .ex-avatar-fallback {
    @apply absolute inset-0 inline-flex items-center justify-center;
  }
}
