@layer theme, base, components, utilities;
@reference "../../styles.css";

@layer components {
  .ex-button {
    --ex-cursor: var(--ex-button-cursor, pointer);
    --ex-font-family: var(--ex-button-font-family, var(--font-sans));
    --ex-font-weight: var(--ex-button-font-weight, var(--font-weight-normal));

    @apply button-md;
  }

  .ex-button {
    @apply variant-solid palette-primary;
  }

  .ex-button {
    @apply inline-flex shrink-0 select-none items-center justify-center;
    @apply h-(--ex-height) cursor-(--ex-cursor) gap-x-(--ex-gap-x) rounded-(--ex-radius) px-(--ex-px) font-(--ex-font-weight) [font-family:var(--ex-font-family)] [font-size:var(--ex-font-size)];

    > svg {
      @apply relative h-[1em] w-[1em];
    }
  }
}

@layer utilities {
  .ex-button {
    @apply interactive;
  }
}
