@layer theme, base, components, utilities;
@reference "../../styles.css";

@layer components {
  .ex-empty-state {
    @apply empty-state-md;
  }

  .ex-empty-state {
    @apply flex leading-normal;
  }

  .ex-empty-state-content {
    @apply flex flex-1 flex-col;
    @apply [font-size:var(--ex-font-size)];
  }

  .ex-empty-state-section {
    @apply flex flex-col items-center justify-center text-center;
    @apply gap-x-[var(--ex-gap-x)] gap-y-[var(--ex-gap-y)] px-[var(--ex-px)] py-[var(--ex-py)];
  }

  .ex-empty-state-indicator {
    --ex-font-size: var(--ex-empty-state-indicator-font-size, var(--text-lg));
    --ex-opacity: var(--ex-empty-state-indicator-opacity, var(--ex-options-subtle-opacity));

    @apply my-[0.375rem];
    @apply opacity-[var(--ex-opacity)] [font-size:var(--ex-font-size)];
  }

  .ex-empty-state-title {
    --ex-font-weight: var(--ex-empty-state-title-font-weight, var(--font-weight-semibold));

    @apply [font-size:var(--ex-font-size)] [font-weight:var(--ex-font-weight)];
  }

  .ex-empty-state-description {
    --ex-font-weight: var(--ex-empty-state-description-font-weight, var(--font-weight-normal));
    --ex-opacity: var(--ex-empty-state-description-opacity, var(--ex-options-muted-opacity));

    @apply opacity-[var(--ex-opacity)] [font-size:var(--ex-font-size)] [font-weight:var(--ex-font-weight)];
  }
}
