@utility empty-state-sm {
  --ex-font-size: var(--ex-empty-state-font-size-sm, var(--text-xs));

  .ex-empty-state-section {
    --ex-px: var(--ex-empty-state-section-px-sm, calc(var(--spacing) * 4));
    --ex-py: var(--ex-empty-state-section-py-sm, calc(var(--spacing) * 4));

    --ex-gap-x: var(--ex-empty-state-section-gap-x-sm, calc(var(--spacing) * 2));
    --ex-gap-y: var(--ex-empty-state-section-gap-y-sm, calc(var(--spacing) * 2));
  }

  .ex-empty-state-indicator {
    --ex-font-size: var(--ex-empty-state-indicator-font-size-sm, var(--text-2xl));
  }

  .ex-empty-state-title {
    --ex-font-size: var(--ex-empty-state-title-font-size-sm, var(--text-sm));
  }

  .ex-empty-state-description {
    --ex-font-size: var(--ex-empty-state-description-font-size-sm, var(--text-xs));
  }
}

@utility empty-state-md {
  --ex-font-size: var(--ex-empty-state-font-size-md, var(--text-sm));

  .ex-empty-state-section {
    --ex-px: var(--ex-empty-state-section-px-md, calc(var(--spacing) * 5));
    --ex-py: var(--ex-empty-state-section-py-md, calc(var(--spacing) * 5));

    --ex-gap-x: var(--ex-empty-state-section-gap-x-md, calc(var(--spacing) * 2.5));
    --ex-gap-y: var(--ex-empty-state-section-gap-y-md, calc(var(--spacing) * 2));
  }

  .ex-empty-state-indicator {
    --ex-font-size: var(--ex-empty-state-indicator-font-size-md, var(--text-4xl));
  }

  .ex-empty-state-title {
    --ex-font-size: var(--ex-empty-state-title-font-size-md, var(--text-base));
  }

  .ex-empty-state-description {
    --ex-font-size: var(--ex-empty-state-description-font-size-md, var(--text-sm));
  }
}

@utility empty-state-lg {
  --ex-font-size: var(--ex-empty-state-font-size-lg, var(--text-base));

  .ex-empty-state-section {
    --ex-px: var(--ex-empty-state-section-px-lg, calc(var(--spacing) * 6));
    --ex-py: var(--ex-empty-state-section-py-lg, calc(var(--spacing) * 6));

    --ex-gap-x: var(--ex-empty-state-section-gap-x-lg, calc(var(--spacing) * 3));
    --ex-gap-y: var(--ex-empty-state-section-gap-y-lg, calc(var(--spacing) * 2));
  }

  .ex-empty-state-indicator {
    --ex-font-size: var(--ex-empty-state-indicator-font-size-lg, var(--text-5xl));
  }

  .ex-empty-state-title {
    --ex-font-size: var(--ex-empty-state-title-font-size-lg, var(--text-lg));
  }

  .ex-empty-state-description {
    --ex-font-size: var(--ex-empty-state-description-font-size-lg, var(--text-base));
  }
}

@layer components {
  .ex-empty-state {
    @apply empty-state-md;
  }

  .ex-empty-state {
    @apply flex leading-normal;
  }

  .ex-empty-state-content {
    @apply flex flex-1 flex-col;
    @apply [font-size:var(--ex-font-size)];
  }

  .ex-empty-state-section {
    @apply flex flex-col items-center justify-center text-center;
    @apply gap-x-[var(--ex-gap-x)] gap-y-[var(--ex-gap-y)] px-[var(--ex-px)] py-[var(--ex-py)];
  }

  .ex-empty-state-indicator {
    --ex-font-size: var(--ex-empty-state-indicator-font-size, var(--text-lg));
    --ex-opacity: var(
      --ex-empty-state-indicator-opacity,
      var(--ex-options-subtle-opacity)
    );

    @apply my-[0.375rem];
    @apply [font-size:var(--ex-font-size)] opacity-[var(--ex-opacity)];
  }

  .ex-empty-state-title {
    --ex-font-weight: var(
      --ex-empty-state-title-font-weight,
      var(--font-weight-semibold)
    );

    @apply [font-size:var(--ex-font-size)] [font-weight:var(--ex-font-weight)];
  }

  .ex-empty-state-description {
    --ex-font-weight: var(
      --ex-empty-state-description-font-weight,
      var(--font-weight-normal)
    );
    --ex-opacity: var(
      --ex-empty-state-description-opacity,
      var(--ex-options-muted-opacity)
    );

    @apply [font-size:var(--ex-font-size)] [font-weight:var(--ex-font-weight)] opacity-[var(--ex-opacity)];
  }
}
