@layer theme, base, components, utilities;
@reference "../../styles.css";

@layer components {
  .ex-in-view {
    --ex-transition-delay: var(--ex-in-view-delay, 0s);
    --ex-transition-ease: var(--ex-in-view-ease, var(--ease-out));
    --ex-transition-duration: var(--ex-in-view-duration, 500ms);
  }

  .ex-in-view {
    @apply delay-(--ex-transition-delay) duration-(--ex-transition-duration) ease-(--ex-transition-ease) transition-all;
  }
}
