@layer theme, base, components, utilities;
@reference "../../styles.css";

@layer components {
  .ex-menubar {
    @apply menubar-md;
  }

  .ex-menubar {
    @apply palette-neutral variant-outline;
  }

  .ex-menubar {
    @apply z-1 relative flex items-center justify-center;
    @apply h-[var(--ex-height)] rounded-[var(--ex-radius)] px-[var(--ex-px)];

    > div:is(:first-child) {
      @apply z-1;
    }
  }

  .ex-menubar-trigger {
    --ex-font-family: var(--ex-menubar-trigger-font-family, var(--font-sans));
    --ex-font-weight: var(--ex-menubar-trigger-font-weight, var(--font-weight-normal));
  }

  .ex-menubar-trigger {
    @apply inline-flex select-none items-center justify-center leading-none outline-none;
    @apply h-[var(--ex-height)] gap-x-[var(--ex-gap-x)] rounded-[var(--ex-radius)] px-[var(--ex-px)] [font-family:var(--ex-font-family)] [font-size:var(--ex-font-size)] [font-weight:var(--ex-font-weight)];
  }

  .ex-menubar-content,
  .ex-menubar-sub-content {
    @apply menubar-content-md;
  }

  .ex-menubar-content,
  .ex-menubar-sub-content {
    @apply palette-neutral variant-outline flex will-change-[transform,opacity];
    @apply max-w-[var(--ex-max-w)] rounded-[var(--ex-radius)] shadow-[var(--ex-shadow)];

    &:where([data-state='open'][data-side='top']) {
      @apply animate-in slide-from-top-1 fade-in;
    }

    &:where([data-state='open'][data-side='right']) {
      @apply animate-in slide-from-end-1 fade-in;
    }

    &:where([data-state='open'][data-side='bottom']) {
      @apply animate-in slide-from-bottom-1 fade-in;
    }

    &:where([data-state='open'][data-side='left']) {
      @apply animate-in slide-from-start-1 fade-in;
    }

    &:has(.ex-menubar-indicator),
    &:has(.ex-menubar-radio-item),
    &:has(.ex-menubar-checkbox-item) {
      .ex-menubar-item,
      .ex-menubar-sub-trigger,
      .ex-menubar-radio-item,
      .ex-menubar-checkbox-item {
        @apply ps-[2.25em];
      }

      .ex-menubar-label {
        @apply ps-[2.75em];
      }
    }

    &:has(.ex-menubar-command) {
      .ex-menubar-item,
      .ex-menubar-sub-trigger,
      .ex-menubar-radio-item,
      .ex-menubar-checkbox-item {
        @apply pe-[2.75em];
      }
    }
  }

  .ex-menubar-content,
  .ex-menubar-sub-content {
    @apply flex flex-1 flex-col;
  }

  .ex-menubar-section {
    @apply flex flex-col;
    @apply gap-[var(--ex-gap-y)] px-[var(--ex-px)] py-[var(--ex-py)];
  }

  .ex-menubar-arrow {
    @apply h-[var(--ex-height)] w-[var(--ex-width)] fill-[var(--background)] stroke-[var(--border)] dark:fill-[var(--background-dark)] dark:stroke-[var(--border-dark)];

    stroke-dasharray: 2rem 2rem;
    stroke-dashoffset: 2rem;
    stroke-width: 2px;
  }

  .ex-menubar-separator {
    @apply bg-[var(--border)] dark:bg-[var(--border-dark)];
  }

  .ex-menubar-separator {
    @apply h-[1px] w-full [transform:translateZ(0)];
  }

  .ex-menubar-radio-group {
    @apply flex flex-col gap-y-[var(--ex-gap-y)];
  }

  .ex-menubar-sub-trigger {
    > .ex-menubar-indicator:is(:last-child) {
      @apply left-[unset] right-[0.5rem];
    }
  }

  .ex-menubar-item,
  .ex-menubar-sub-trigger,
  .ex-menubar-radio-item,
  .ex-menubar-checkbox-item {
    --ex-font-family: var(--ex-menubar-item-font-family, var(--font-sans));
    --ex-font-weight: var(--ex-menubar-item-font-weight, var(--font-weight-normal));
  }

  .ex-menubar-item,
  .ex-menubar-sub-trigger,
  .ex-menubar-radio-item,
  .ex-menubar-checkbox-item {
    @apply relative flex min-w-0 select-none items-center;
    @apply my-[-0.25rem] rounded-[var(--ex-radius)] px-[var(--ex-px)] py-[var(--ex-py)] [font-family:var(--ex-font-family)] [font-size:var(--ex-font-size)] [font-weight:var(--ex-font-weight)];

    &:where([data-highlighted]) {
      @apply variant-subtle border-0!;
    }
  }

  .ex-menubar-indicator {
    @apply absolute left-[0.375rem] inline-flex h-[1em] w-[1em] flex-shrink-0 items-center justify-center leading-none;
    @apply [font-size:var(--ex-font-size)];

    svg {
      @apply h-auto min-h-full w-full;
    }
  }

  .ex-menubar-radio-item,
  .ex-menubar-checkbox-item {
    .ex-menubar-indicator:where([data-state='unchecked']) > * {
      @apply invisible;
    }
  }

  .ex-menubar-label {
    --ex-font-family: var(--ex-menubar-label-font-family, var(--font-sans));
    --ex-font-weight: var(--ex-menubar-label-font-weight, var(--font-weight-normal));
    --ex-opacity: var(--ex-menubar-label-opacity, var(--ex-options-muted-opacity));
  }

  .ex-menubar-label {
    @apply px-[var(--ex-px)] opacity-[var(--ex-opacity)] [font-family:var(--ex-font-family)] [font-size:var(--ex-font-size)] [font-weight:var(--ex-font-weight)];
  }

  .ex-menubar-command {
    --ex-font-family: var(--ex-menubar-command-font-family, var(--font-sans));
    --ex-font-weight: var(--ex-menubar-command-font-weight, var(--font-weight-normal));
    --ex-opacity: var(--ex-menubar-command-opacity, var(--ex-options-muted-opacity));
  }

  .ex-menubar-command {
    @apply absolute right-[0.5rem] inline-flex flex-shrink-0 items-center justify-center leading-none;
    @apply opacity-[var(--ex-opacity)] [font-family:var(--ex-font-family)] [font-size:var(--ex-font-size)] [font-weight:var(--ex-font-weight)];
  }
}

@layer utilities {
  .ex-menubar-content,
  .ex-menubar-sub-content {
    @apply component-variant-panel;
  }

  .ex-menubar-trigger {
    @apply interactive;

    &:where([data-state='open']) {
      @apply interactive-hover;
    }
  }
}
