@layer theme, base, components, utilities;
@reference "../../styles.css";

@layer components {
  .ex-navigation-menu {
    @apply navigation-menu-md;
  }

  .ex-navigation-menu {
    @apply palette-neutral variant-outline;
  }

  .ex-navigation-menu-viewport {
    @apply relative flex origin-[top_center] overflow-hidden;
    @apply h-[var(--radix-navigation-menu-viewport-height)] w-[var(--radix-navigation-menu-viewport-width)];

    &:where([data-orientation='horizontal']) {
      @apply min-w-full;
    }

    &:where([data-orientation='vertical']) {
      @apply min-h-full;
    }

    &:where([data-state='open']) {
      @apply animate-in fade-in;
    }

    &:where([data-state='closed']) {
      @apply animate-out fade-out;
    }

    transition: width, height, 200ms;
  }

  .ex-navigation-menu-sub {
    .ex-navigation-menu-viewport {
      @apply -mx-[var(--ex-px)];

      transition: width, height, 0ms;
    }

    &:has(.ex-navigation-menu-section) {
      @apply pbe-0;
    }
  }

  .ex-navigation-menu-indicator-icon {
    @apply relative h-[0.5em] w-[1em] rotate-180;
    @apply fill-[var(--background)] stroke-[var(--border)] [stroke-linecap:round] [stroke-linejoin:round] [stroke-width:1.5] dark:fill-[var(--background-dark)] dark:stroke-[var(--border-dark)];

    margin-block-start: calc(0.75em - 1px);

    line {
      @apply stroke-[var(--background)] [stroke-width:2] dark:stroke-[var(--background-dark)];
    }
  }

  .ex-navigation-menu {
    @apply z-1 relative flex justify-center;
    @apply h-[var(--ex-height)] rounded-[var(--ex-radius)] [font-size:var(--ex-font-size)];

    > div:is(:first-child) {
      @apply z-1;
    }

    &:where(:not([class*='variant-'])),
    &:where([class*='variant-outline'], [class*='variant-outline']) {
      .ex-navigation-menu-indicator-icon {
        --background: var(--ex-options-panel-background-default-color);
        --background-dark: var(--ex-options-panel-background-default-color-dark);
      }

      .ex-navigation-menu-viewport-anchor {
        > .ex-navigation-menu-viewport {
          &:where(.variant-outline) {
            --background: var(--ex-options-panel-background-default-color);
            --background-dark: var(--ex-options-panel-background-default-color-dark);
          }
        }
      }
    }
  }

  .ex-navigation-menu,
  .ex-navigation-menu-sub {
    @apply flex px-[var(--ex-px)] py-[var(--ex-py)];

    &:where(:not([data-orientation])),
    &:where([data-orientation='horizontal']) {
      @apply flex-col;

      .ex-navigation-menu-viewport-anchor {
        @apply mbs-[var(--ex-spacer)] left-0 top-full min-w-full;
      }
    }

    &:where([data-orientation='vertical']) {
      @apply flex-row;

      .ex-navigation-menu-viewport-anchor {
        @apply left-full top-0 ms-[var(--ex-spacer)] h-auto min-h-full;
      }
    }
  }

  .ex-navigation-menu-list {
    @apply flex list-none;
    @apply gap-x-[var(--ex-gap-x)] gap-y-[var(--ex-gap-y)];

    &:where(:not([data-orientation])),
    &:where([data-orientation='horizontal']) {
      @apply flex-row items-center;
    }

    &:where([data-orientation='vertical']) {
      @apply flex-col justify-center;
    }
  }

  .ex-navigation-menu-item {
    --ex-font-family: var(--ex-navigation-menu-item-font-family, var(--font-sans));
    --ex-font-weight: var(--ex-navigation-menu-item-font-weight, var(--font-weight-normal));
  }

  .ex-navigation-menu-link,
  .ex-navigation-menu-trigger {
    @apply inline-flex select-none items-center justify-center leading-none outline-none;
    @apply h-[var(--ex-height)] gap-x-[var(--ex-gap-x)] rounded-[var(--ex-radius)] px-[var(--ex-px)] [font-family:var(--ex-font-family)] [font-size:var(--ex-font-size)] [font-weight:var(--ex-font-weight)];
  }

  .ex-navigation-menu-content {
    @apply flex flex-1 flex-col;
  }

  .ex-navigation-menu-content {
    @apply absolute left-0 top-0 w-max;

    &:where([data-motion='from-start']) {
      @apply animate-in slide-from-end fade-in;
    }

    &:where([data-motion='from-end']) {
      @apply animate-in slide-from-start fade-in;
    }

    &:where([data-motion='to-start']) {
      @apply animate-out slide-to-start fade-out;
    }

    &:where([data-motion='to-end']) {
      @apply animate-out slide-to-end fade-out;
    }
  }

  .ex-navigation-menu-section {
    @apply flex flex-col;
    @apply gap-y-[var(--ex-gap-y)] px-[var(--ex-px)] py-[var(--ex-py)];
  }

  .ex-navigation-menu-viewport-anchor {
    @apply absolute flex;

    > .ex-navigation-menu-viewport {
      @apply variant rounded-[var(--ex-radius)] shadow-[var(--ex-shadow)] [font-size:var(--ex-font-size)];
    }
  }

  .ex-navigation-menu-indicator {
    @apply mbs-[0.375rem] inline-flex h-[1em] w-[1em] flex-shrink-0 items-center justify-center overflow-hidden;
    @apply [font-size:var(--ex-font-size)];

    &:where([data-orientation='vertical']) {
      @apply left-full ms-[0.25rem] items-start justify-start;

      .ex-navigation-menu-indicator-icon {
        @apply -rotate-90;
      }
    }

    &:where([data-state='visible']) {
      @apply animate-in fade-in;
    }

    &:where([data-state='hidden']) {
      @apply animate-out fade-out;
    }

    transition: width, transform, 200ms;
  }
}

@layer utilities {
  .ex-navigation-menu-link,
  .ex-navigation-menu-trigger {
    @apply interactive;

    &:where([data-state='open']) {
      @apply interactive-hover;
    }
  }

  .ex-navigation-menu-viewport-anchor {
    > .ex-navigation-menu-viewport {
      &:where([class*='variant-outline'], [class*='variant-plain']) {
        &:where(.variant-outline) {
          --background: var(--ex-options-panel-background-default-color);
          --background-dark: var(--ex-options-panel-background-default-color-dark);
        }
      }
    }
  }
}
