@layer theme, base, components, utilities;
@reference "../../styles.css";

@layer components {
  .ex-checkbox {
    @apply checkbox-md;
  }

  .ex-checkbox {
    @apply variant-outline palette-neutral;
    @apply border-transparent! bg-transparent! text-inherit! outline-transparent!;
  }

  .ex-checkbox {
    @apply flex items-center justify-center;
    @apply gap-x-[var(--ex-gap-x)] [font-size:var(--ex-font-size)];
  }

  .ex-checkbox-control {
    @apply variant;
  }

  .ex-checkbox-control {
    --ex-cursor: var(--ex-checkbox-cursor, default);

    @apply flex select-none items-center justify-center [transform:translateZ(0)];
    @apply size-[var(--ex-size)] cursor-[var(--ex-cursor)] rounded-[var(--ex-radius)];
  }

  .ex-checkbox-indicator {
    @apply inline-flex items-center justify-center leading-none;
    @apply [font-size:var(--ex-font-size)];

    &:where([data-state='unchecked']) > * {
      @apply invisible;
    }
  }

  .ex-checkbox-check {
    @apply size-[0.875em] fill-none stroke-current stroke-2;
  }

  .ex-checkbox-label {
    --ex-font-family: var(--ex-checkbox-label-font-family, var(--font-sans));
    --ex-font-weight: var(--ex-checkbox-label-font-weight, var(--font-weight-semibold));

    @apply [font-family:var(--ex-font-family)] [font-size:var(--ex-font-size)] [font-weight:var(--ex-font-weight)];
  }
}

@layer utilities {
  .ex-checkbox-control {
    @apply interactive valid invalid;
  }
}
