@layer theme, base, components, utilities;
@reference "../../styles.css";

@layer components {
  .ex-alert-dialog-overlay {
    --ex-z-index: var(--ex-alert-dialog-overlay-z-index, var(--ex-options-z-alert-dialog-overlay));

    @apply fixed inset-0 grid place-items-center overflow-y-auto bg-[rgba(0,0,0,var(--ex-options-overlay-opacity))];
    @apply z-[var(--ex-z-index)];

    &:where([data-state='open']) {
      @apply animate-in fade-in;
    }

    &:where([data-state='closed']) {
      @apply animate-out fade-out;
    }
  }

  .ex-alert-dialog-content {
    @apply alert-dialog-content-md;
  }

  .ex-alert-dialog-content {
    --ex-z-index: var(--ex-alert-dialog-z-index, var(--ex-options-z-alert-dialog));

    @apply palette-neutral variant-outline fixed left-1/2 top-1/2 flex -translate-x-1/2 -translate-y-1/2 border-transparent will-change-[transform,opacity];
    @apply z-[var(--ex-z-index)] w-[var(--ex-w)] rounded-[var(--ex-radius)] shadow-[var(--ex-shadow)];

    &:where([data-state='open']) {
      @apply animate-in fade-in scale-in-75;
    }

    &:where([data-state='closed']) {
      @apply animate-out fade-out;
    }

    &:where(:focus) {
      @apply outline-none;
    }
  }

  .ex-alert-dialog-content {
    @apply flex flex-1 flex-col;
    @apply [font-size:var(--ex-font-size)];
  }

  .ex-alert-dialog-section {
    @apply flex flex-col;
    @apply gap-x-[var(--ex-gap-x)] gap-y-[var(--ex-gap-y)] px-[var(--ex-px)] py-[var(--ex-py)];
  }

  .ex-alert-dialog-title {
    --ex-font-weight: var(--ex-alert-dialog-title-font-weight, var(--font-weight-semibold));

    @apply [font-size:var(--ex-font-size)] [font-weight:var(--ex-font-weight)];
  }

  .ex-alert-dialog-description {
    --ex-font-weight: var(--ex-alert-dialog-description-font-weight, var(--font-weight-normal));
    --ex-opacity: var(--ex-alert-dialog-description-opacity, var(--ex-options-muted-opacity));

    @apply opacity-[var(--ex-opacity)] [font-size:var(--ex-font-size)] [font-weight:var(--ex-font-weight)];
  }
}

@layer utilities {
  .ex-alert-dialog-content {
    @apply component-variant-panel;
  }
}
