@utility radio-card-sm {
  --ex-font-size: var(--ex-radio-card-font-size-sm, var(--text-xs));

  --ex-px: var(--ex-radio-card-px-sm, calc(var(--spacing) * 4));
  --ex-py: var(--ex-radio-card-py-sm, calc(var(--spacing) * 4));

  --ex-gap-x: var(--ex-radio-card-gap-x-sm, calc(var(--spacing) * 2));
  --ex-radius: var(--ex-radio-card-radius-sm, var(--radius-sm));

  .ex-radio-card-indicator {
    --ex-font-size: var(--ex-radio-card-indicator-font-size-sm, var(--text-lg));
  }

  .ex-radio-card-content {
    --ex-gap-x: var(--ex-radio-card-content-gap-x-sm, calc(var(--spacing) * 2));
    --ex-gap-y: var(--ex-radio-card-content-gap-y-sm, calc(var(--spacing) * 1));
  }

  .ex-radio-card-label {
    --ex-font-size: var(--ex-radio-card-label-font-size-sm, var(--text-xs));
  }

  .ex-radio-card-description {
    --ex-font-size: var(--ex-radio-card-description-font-size-sm, var(--text-xs));
  }
}

@utility radio-card-md {
  --ex-font-size: var(--ex-radio-card-font-size-md, var(--text-sm));

  --ex-px: var(--ex-radio-card-px-md, calc(var(--spacing) * 5));
  --ex-py: var(--ex-radio-card-py-md, calc(var(--spacing) * 5));

  --ex-gap-x: var(--ex-radio-card-gap-x-md, calc(var(--spacing) * 2.5));
  --ex-radius: var(--ex-radio-card-radius-md, var(--radius-sm));

  .ex-radio-card-indicator {
    --ex-font-size: var(--ex-radio-card-indicator-font-size-md, var(--text-xl));
  }

  .ex-radio-card-content {
    --ex-gap-x: var(--ex-radio-card-content-gap-x-md, calc(var(--spacing) * 2.5));
    --ex-gap-y: var(--ex-radio-card-content-gap-y-md, calc(var(--spacing) * 1));
  }

  .ex-radio-card-label {
    --ex-font-size: var(--ex-radio-card-label-font-size-md, var(--text-sm));
  }

  .ex-radio-card-description {
    --ex-font-size: var(--ex-radio-card-description-font-size-md, var(--text-sm));
  }
}

@utility radio-card-lg {
  --ex-font-size: var(--ex-radio-card-font-size-lg, var(--text-base));

  --ex-px: var(--ex-radio-card-px-lg, calc(var(--spacing) * 6));
  --ex-py: var(--ex-radio-card-py-lg, calc(var(--spacing) * 6));

  --ex-gap-x: var(--ex-radio-card-gap-x-lg, calc(var(--spacing) * 3));
  --ex-radius: var(--ex-radio-card-radius-lg, var(--radius-sm));

  .ex-radio-card-indicator {
    --ex-font-size: var(--ex-radio-card-indicator-font-size-lg, var(--text-2xl));
  }

  .ex-radio-card-content {
    --ex-gap-x: var(--ex-radio-card-content-gap-x-lg, calc(var(--spacing) * 3));
    --ex-gap-y: var(--ex-radio-card-content-gap-y-lg, calc(var(--spacing) * 1));
  }

  .ex-radio-card-label {
    --ex-font-size: var(--ex-radio-card-label-font-size-lg, var(--text-base));
  }

  .ex-radio-card-description {
    --ex-font-size: var(--ex-radio-card-description-font-size-lg, var(--text-base));
  }
}

@layer components {
  .ex-radio-card {
    @apply radio-card-md;
  }

  .ex-radio-card {
    @apply variant;
  }

  .ex-radio-card {
    --ex-cursor: var(--ex-radio-card-cursor, default);

    @apply flex [transform:translateZ(0)] leading-normal select-none;
    @apply cursor-[var(--ex-cursor)] gap-x-[var(--ex-gap-x)] rounded-[var(--ex-radius)] px-[var(--ex-px)] py-[var(--ex-py)] [font-size:var(--ex-font-size)];

    &:where(.variant-solid) {
      @apply component-variant-solid-contrast;

      .ex-radio-card-indicator {
        @apply component-variant-solid-contrast;
      }
    }
  }

  .ex-radio-card-content {
    @apply flex flex-1 flex-col items-start text-start;
    @apply gap-x-[var(--ex-gap-x)] gap-y-[var(--ex-gap-y)];
  }

  .ex-radio-card-indicator {
    @apply variant-outline;
  }

  .ex-radio-card-indicator {
    @apply inline-flex size-[1em] flex-shrink-0 items-center justify-center;
    @apply rounded-full [font-size:var(--ex-font-size)];

    &:where([data-state='unchecked']) > * {
      @apply invisible;
    }
  }

  .ex-radio-card-check {
    @apply size-[0.75em] align-middle;

    circle {
      @apply fill-current;
    }
  }

  .ex-radio-card-label {
    --ex-font-family: var(--ex-radio-card-label-font-family, var(--font-sans));
    --ex-font-weight: var(--ex-radio-card-label-font-weight, var(--font-weight-semibold));
  }

  .ex-radio-card-label {
    @apply cursor-[inherit] self-start [font-family:var(--ex-font-family)] [font-size:var(--ex-font-size)] [font-weight:var(--ex-font-weight)];
  }

  .ex-radio-card-description {
    --ex-font-family: var(--ex-radio-card-description-font-family, var(--font-sans));
    --ex-font-weight: var(--ex-radio-card-description-font-weight, var(--font-weight-normal));
    --ex-opacity: var(--ex-radio-card-description-opacity, var(--ex-options-muted-opacity));
  }

  .ex-radio-card-description {
    @apply [font-family:var(--ex-font-family)] [font-size:var(--ex-font-size)] [font-weight:var(--ex-font-weight)] opacity-[var(--ex-opacity)];
  }
}

@layer utilities {
  .ex-radio-card {
    &:where(:focus-visible) {
      @apply interactive-focus;
    }

    &:where([data-state='checked']:not([class*='variant-plain'])) {
      --border: var(--shade-bold);
    }
  }
}
