@layer theme, base, components, utilities;
@reference "../../styles.css";

@layer components {
  .ex-radio-card {
    @apply radio-card-md;
  }

  .ex-radio-card {
    @apply variant;
  }

  .ex-radio-card {
    --ex-cursor: var(--ex-radio-card-cursor, default);

    @apply flex min-w-0 select-none leading-normal [transform:translateZ(0)];
    @apply rounded-(--ex-radius) px-(--ex-px) py-(--ex-py) gap-x-(--ex-gap-x) cursor-[var(--ex-cursor)];

    &:where(.variant-solid) {
      @apply component-variant-solid-contrast;

      .ex-radio-card-indicator {
        @apply component-variant-solid-contrast;
      }
    }
  }

  .ex-radio-card-content {
    @apply flex flex-1 flex-col items-start text-start;
    @apply gap-y-(--ex-gap-y) gap-x-(--ex-gap-x);
  }

  .ex-radio-card-indicator {
    @apply variant-outline;
    @apply border-transparent! bg-transparent! text-inherit! outline-transparent!;

    &::before {
      @apply variant absolute size-[1em] rounded-full content-[''];
    }
  }

  .ex-radio-card-indicator {
    @apply relative inline-flex flex-shrink-0 items-center justify-center;
    @apply [font-size:var(--ex-font-size)];

    :where(svg) {
      @apply relative size-[1em];
    }

    &:where([data-state='unchecked']) > * {
      @apply invisible;
    }
  }

  .ex-radio-card-indicator-svg {
    @apply fill-current stroke-current stroke-0;
  }

  .ex-radio-card-label {
    --ex-font-family: var(--ex-radio-card-label-font-family, var(--font-sans));
    --ex-font-weight: var(--ex-radio-card-label-font-weight, var(--font-weight-medium));
  }

  .ex-radio-card-label {
    @apply cursor-[inherit] self-start [text-box:trim-start];
    @apply [font-family:var(--ex-font-family)] [font-size:var(--ex-font-size)] [font-weight:var(--ex-font-weight)] [line-height:var(--ex-line-height)];
  }

  .ex-radio-card-description {
    --ex-font-family: var(--ex-radio-card-description-font-family, var(--font-sans));
    --ex-font-weight: var(--ex-radio-card-description-font-weight, var(--font-weight-normal));
    --ex-opacity: var(--ex-radio-card-description-opacity, var(--ex-options-opacity-muted));
  }

  .ex-radio-card-description {
    @apply opacity-(--ex-opacity) [font-family:var(--ex-font-family)] [font-size:var(--ex-font-size)] [font-weight:var(--ex-font-weight)] [line-height:var(--ex-line-height)];
  }
}

@layer utilities {
  .ex-radio-card {
    &:where(:focus-visible) {
      @apply interactive-focus;
    }

    &:where([data-state='checked']:not([class*='variant-plain'])) {
      --border: var(--shade-bold);
    }
  }
}
