@utility description-sm {
  --ex-font-size: var(--ex-description-font-size-sm, var(--text-xs));
  --ex-line-height: var(--ex-description-line-height-sm, var(--text-xs-line-height));

  --ex-font-family: var(--ex-description-font-family-sm, var(--font-sans));
  --ex-font-weight: var(--ex-description-font-weight-sm, var(--font-weight-normal));
}

@utility description-md {
  --ex-font-size: var(--ex-description-font-size-md, var(--text-sm));
  --ex-line-height: var(--ex-description-line-height-md, var(--text-sm-line-height));

  --ex-font-family: var(--ex-description-font-family-md, var(--font-sans));
  --ex-font-weight: var(--ex-description-font-weight-md, var(--font-weight-normal));
}

@utility description-lg {
  --ex-font-size: var(--ex-description-font-size-lg, var(--text-base));
  --ex-line-height: var(--ex-description-line-height-lg, var(--text-base-line-height));

  --ex-font-family: var(--ex-description-font-family-lg, var(--font-sans));
  --ex-font-weight: var(--ex-description-font-weight-lg, var(--font-weight-normal));
}

@utility description-xl {
  --ex-font-size: var(--ex-description-font-size-xl, var(--text-lg));
  --ex-line-height: var(--ex-description-line-height-xl, var(--text-lg-line-height));

  --ex-font-family: var(--ex-description-font-family-xl, var(--font-sans));
  --ex-font-weight: var(--ex-description-font-weight-xl, var(--font-weight-normal));
}

@layer components {
  .ex-title {
    @apply description-md;
  }

  .ex-description {
    @apply [font-family:var(--ex-font-family)] [font-size:var(--ex-font-size)] [line-height:var(--ex-line-height)] [font-weight:var(--ex-font-weight)];
  }
}
