@layer theme, base, components, utilities;
@reference "../../styles.css";

@layer components {
  .ex-popover-content {
    @apply popover-content-md;
  }

  .ex-popover-content {
    @apply flex flex-1 flex-col;
  }

  .ex-popover-content {
    --ex-z-index: var(--ex-popover-z-index, var(--ex-options-z-popover));

    @apply palette-neutral variant-outline flex will-change-[transform,opacity];
    @apply z-[var(--ex-z-index)] max-w-[var(--ex-max-w)] rounded-[var(--ex-radius)] shadow-[var(--ex-shadow)] [font-size:var(--ex-font-size)];

    &:where(:focus) {
      @apply outline-none;
    }

    &:where([data-state='open'][data-side='top']) {
      @apply animate-in slide-from-top-1 fade-in;
    }

    &:where([data-state='open'][data-side='right']) {
      @apply animate-in slide-from-end-1 fade-in;
    }

    &:where([data-state='open'][data-side='bottom']) {
      @apply animate-in slide-from-bottom-1 fade-in;
    }

    &:where([data-state='open'][data-side='left']) {
      @apply animate-in slide-from-start-1 fade-in;
    }
  }

  .ex-popover-section {
    @apply flex flex-col;
    @apply gap-x-[var(--ex-gap-x)] gap-y-[var(--ex-gap-y)] px-[var(--ex-px)] py-[var(--ex-py)];
  }

  .ex-popover-arrow {
    @apply h-[var(--ex-height)] w-[var(--ex-width)] fill-[var(--background)] stroke-[var(--border)] dark:fill-[var(--background-dark)] dark:stroke-[var(--border-dark)];

    stroke-dasharray: 2rem 2rem;
    stroke-dashoffset: 2rem;
    stroke-width: 2px;
  }

  .ex-popover-close-native {
    @apply absolute end-1.5 top-1.5;
    @apply palette-inherit variant-inherit border-none;

    .ex-close-icon {
      @apply size-[1em] fill-none stroke-current stroke-2 [stroke-linecap:round] [stroke-linejoin:round];
    }
  }

  .ex-popover-title {
    --ex-font-family: var(--ex-popover-title-font-family, var(--font-sans));
    --ex-font-weight: var(--ex-popover-title-font-weight, var(--font-weight-semibold));

    @apply [font-family:var(--ex-font-family)] [font-size:var(--ex-font-size)] [font-weight:var(--ex-font-weight)];
  }

  .ex-popover-description {
    --ex-font-family: var(--ex-popover-description-font-family, var(--font-sans));
    --ex-font-weight: var(--ex-popover-description-font-weight, var(--font-weight-normal));
    --ex-opacity: var(--ex-popover-description-opacity, var(--ex-options-muted-opacity));

    @apply opacity-[var(--ex-opacity)] [font-family:var(--ex-font-family)] [font-size:var(--ex-font-size)] [font-weight:var(--ex-font-weight)];
  }
}

@layer utilities {
  .ex-popover-content {
    @apply component-variant-panel;
  }
}
