@layer theme, base, components, utilities;
@reference "../../styles.css";

@layer components {
  .ex-input {
    --ex-font-family: var(--ex-input-font-family, var(--font-sans));
    --ex-font-weight: var(--ex-input-font-weight, var(--font-weight-normal));
    --ex-opacity: var(--ex-options-opacity-placeholder);

    @apply input-md;
  }

  *:not(.ex-input-group) {
    > .ex-input {
      @apply variant-outline palette-neutral;
      @apply border-transparent! bg-transparent! text-inherit! outline-transparent!;
    }
  }

  .ex-input {
    @apply relative isolate inline-flex w-full min-w-0 flex-nowrap items-center;
  }

  .ex-input-field {
    @apply variant;
  }

  .ex-input-field {
    @apply inline-flex w-full min-w-0;
    @apply rounded-(--ex-radius) px-(--ex-px) h-[var(--ex-height)] [font-family:var(--ex-font-family)] [font-size:var(--ex-font-size)] [font-weight:var(--ex-font-weight)];

    &::placeholder {
      @apply opacity-(--ex-opacity) text-inherit;
    }
  }
}

@layer utilities {
  .ex-input {
    @apply valid invalid;
  }

  .ex-input-field {
    @apply interactive;
  }
}
