@utility input-sm {
  --ex-height: var(--ex-input-height-sm, var(--ex-size-xl));

  --ex-px: var(--ex-input-px-sm, calc(var(--spacing) * 3.5));
  --ex-radius: var(--ex-input-radius-sm, var(--radius-sm));
  --ex-font-size: var(--ex-input-font-size-sm, var(--text-xs));
}

@utility input-md {
  --ex-height: var(--ex-input-height-md, var(--ex-size-2xl));

  --ex-px: var(--ex-input-px-md, calc(var(--spacing) * 4));
  --ex-radius: var(--ex-input-radius-md, var(--radius-sm));
  --ex-font-size: var(--ex-input-font-size-md, var(--text-sm));
}

@utility input-lg {
  --ex-height: var(--ex-input-height-lg, var(--ex-size-3xl));

  --ex-px: var(--ex-input-px-lg, calc(var(--spacing) * 4.5));
  --ex-radius: var(--ex-input-radius-lg, var(--radius-sm));
  --ex-font-size: var(--ex-input-font-size-lg, var(--text-base));
}

@layer components {
  .ex-input {
    --ex-font-family: var(--ex-input-font-family, var(--font-sans));
    --ex-font-weight: var(--ex-input-font-weight, var(--font-weight-normal));
    --ex-opacity: var(--ex-options-placeholder-opacity);

    @apply input-md;
  }

  *:not(.ex-input-group) {
    > .ex-input {
      @apply palette-neutral variant-outline;
    }
  }

  .ex-input {
    @apply inline-flex w-full;
    @apply h-[var(--ex-height)] rounded-[var(--ex-radius)] px-[var(--ex-px)] [font-family:var(--ex-font-family)] [font-size:var(--ex-font-size)] [font-weight:var(--ex-font-weight)];

    &::placeholder {
      @apply text-[inherit] [opacity:var(--ex-opacity)];
    }

    &:where(.variant-solid) {
      &::placeholder {
        @apply opacity-[calc(var(--ex-options-disabled-opacity)+0.15)];
      }
    }
  }
}

@layer utilities {
  .ex-input {
    @apply valid invalid interactive-form-control;
  }
}
