@layer theme, base, components, utilities;
@reference "../../styles.css";

@layer components {
  .ex-pin-input {
    --ex-font-family: var(--ex-pin-input-font-family, var(--font-sans));
    --ex-font-weight: var(--ex-pin-input-font-weight, var(--font-weight-normal));
    --ex-opacity: var(--ex-options-opacity-placeholder);

    @apply pin-input-md;
  }

  *:not(.ex-input-group) {
    > .ex-pin-input {
      @apply variant-outline palette-neutral;
      @apply border-transparent! bg-transparent! text-inherit! outline-transparent!;
    }
  }

  .ex-pin-input {
    @apply relative isolate flex min-w-0 flex-nowrap;
    @apply gap-x-(--ex-gap-x);

    &:where(.variant-solid) {
      @apply component-variant-solid-contrast;
    }
  }

  .ex-pin-input-field {
    @apply variant inline-flex items-center justify-center text-center leading-none;
    @apply rounded-(--ex-radius) size-[var(--ex-size)] [font-family:var(--ex-font-family)] [font-size:var(--ex-font-size)] [font-weight:var(--ex-font-weight)];

    &::placeholder {
      @apply opacity-(--ex-opacity) text-inherit [font-size:var(--ex-placeholder-font-size)];
    }

    &:where(:focus-within) {
      &::placeholder {
        @apply opacity-0;
      }
    }
  }

  .ex-pin-input {
    &:where(:disabled, [disabled], [data-disabled], .disabled) {
      .ex-pin-input-field {
        &:where(:disabled, [disabled], [data-disabled], .disabled) {
          opacity: 1;
        }
      }
    }
  }
}

@layer utilities {
  .ex-pin-input {
    @apply valid invalid;
  }

  .ex-pin-input-field {
    &:where([tabindex='0']),
    &:where(:not([value=''])) {
      @apply interactive;
    }
  }
}
