@layer theme, base, components, utilities;
@reference "../../styles.css";

@layer components {
  .ex-pin-input {
    --ex-font-family: var(--ex-pin-input-font-family, var(--font-sans));
    --ex-font-weight: var(--ex-pin-input-font-weight, var(--font-weight-normal));
    --ex-opacity: var(--ex-options-placeholder-opacity);

    @apply pin-input-md;
  }

  *:not(.ex-input-group) {
    > .ex-pin-input {
      @apply palette-neutral variant-outline;
      @apply border-transparent! bg-transparent! text-inherit! outline-transparent!;
    }
  }

  .ex-pin-input {
    @apply relative flex flex-nowrap;
    @apply gap-x-[var(--ex-gap-x)];

    &:where(.variant-solid) {
      @apply component-variant-solid-contrast;

      .ex-pin-input-field {
        &::placeholder {
          @apply opacity-[calc(var(--ex-options-disabled-opacity)+0.15)];
        }
      }
    }
  }

  .ex-pin-input-field {
    @apply variant inline-flex items-center justify-center text-center leading-none;
    @apply size-[var(--ex-size)] rounded-[var(--ex-radius)] [font-family:var(--ex-font-family)] [font-size:var(--ex-font-size)] [font-weight:var(--ex-font-weight)];

    &::placeholder {
      @apply text-[inherit] [font-size:var(--ex-placeholder-font-size)] [opacity:var(--ex-opacity)];
    }

    &:where(:focus-within) {
      &::placeholder {
        @apply opacity-0;
      }
    }
  }
}

@layer utilities {
  .ex-pin-input {
    @apply valid invalid;
  }

  .ex-pin-input-field {
    &:where([tabindex='0']),
    &:where(:not([value=''])) {
      @apply interactive-form-control;
    }
  }
}
